OriginalBW5Project/AutomatedProcesses/MessageTransformation/OXIReservationSchemaTransformation-Start-Input.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="/OriginalBW5Project/AutomatedProcesses/MessageTransformation/OXIReservationSchemaTransformation-Start-Input.xsd" xmlns:ns="profile.fidelio.3.0" xmlns:ns1="udf.fidelio.2.0" xmlns:ns2="udfdefinition.fidelio.2.0" xmlns:ns22="profile.fidelio.2.0" xmlns:ns3="profile.fidelio.5.0" xmlns:ns4="http://www.tibco.com/pe/GenerateErrorActivity/InputSchema" xmlns:ns5="http://www.tibco.com/pe/EngineTypes" xmlns:ns6="relationship.fidelio.3.0" xmlns:ns7="ecertificate.fidelio.1.0" xmlns:ns8="ecertificatemr.fidelio.1.0" xmlns:ns9="http://www.tibco.com/pe/DeployedVarsType" xmlns:pd="http://xmlns.tibco.com/bw/process/2003" xmlns:pfx="reservation.fidelio.2.0" xmlns:pfx2="reservation.fidelio.4.0" xmlns:pfx3="reservation.fidelio.5.0" xmlns:pfx4="http://www.tibco.com/ns/no_namespace_schema_location/SharedResources/Schemas/OXI/reservation.fidelio.5.0.xsd" xmlns:tib="http://www.tibco.com/bw/xslt/custom-functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="/OriginalBW5Project/AutomatedProcesses/MessageTransformation/OXIReservationSchemaTransformation-Start-Input.xsd">
    <xsd:element name="Request">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="xmlRequest" type="xsd:string"/>
                <xsd:element minOccurs="0" name="propID" type="xsd:string"/>
                <xsd:element minOccurs="0" name="buildPMSrequest" type="xsd:boolean"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
