OriginalBW5Project/SharedResources/Schemas/OXI/allotment.fidelio.2.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="allotment.fidelio.2.0" xmlns:profile="profile.fidelio.2.0" xmlns:udf="udf.fidelio.2.0" xmlns:udfdefinition="udfdefinition.fidelio.2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="allotment.fidelio.2.0">
	<xs:import namespace="profile.fidelio.2.0" schemaLocation="profile.fidelio.2.0.xsd"/>
	<xs:import namespace="udf.fidelio.2.0" schemaLocation="udf.fidelio.2.0.xsd"/>
	<xs:import namespace="udfdefinition.fidelio.2.0" schemaLocation="udfdefinition.fidelio.2.0.xsd"/>
	<xs:element name="InventoryBlockNotification" type="InventoryBlockNotification">
		<xs:annotation>
			<xs:documentation>InventoryBlockNotification schema</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="InventoryBlockNotification">
		<xs:sequence>
			<xs:element minOccurs="0" name="HotelReference" type="HotelReference"/>
			<xs:element minOccurs="0" name="inventoryBlockName" type="xs:string"/>
			<xs:element name="inventoryBlockGroupingCode" type="xs:string"/>
			<xs:element minOccurs="0" name="preShoulderProcureBlockCode" type="xs:string"/>
			<xs:element minOccurs="0" name="postShoulderProcureBlockCode" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="inventoryBlockCodes" type="xs:string"/>
			<xs:element minOccurs="0" name="BlockTimeSpan" type="BlockTimeSpan"/>
			<xs:element minOccurs="0" name="dropDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="AvailableDaysOfWeek" type="AvailableDaysOfWeek"/>
			<xs:element minOccurs="0" name="ArrivalDaysOfWeek" type="ArrivalDaysOfWeek"/>
			<xs:element minOccurs="0" name="RequiredDaysOfWeek" type="RequiredDaysOfWeek"/>
			<xs:element minOccurs="0" name="numberRequiredNights" type="xs:int"/>
			<xs:element minOccurs="0" name="BookingDateRange" type="BookingDateRange"/>
			<xs:element minOccurs="0" name="validBookingMinOffset" type="xs:int"/>
			<xs:element minOccurs="0" name="validBookingMaxOffset" type="xs:int"/>
			<xs:element minOccurs="0" name="priceViewable" type="xs:boolean"/>
			<xs:element minOccurs="0" name="BlockShoulders" type="BlockShoulders"/>
			<xs:element minOccurs="0" name="ProductDescriptions" type="ProductDescriptions"/>
			<xs:element minOccurs="0" name="Viewerships" type="Viewerships"/>
			<xs:element minOccurs="0" name="AssociatedProfiles" type="AssociatedProfiles"/>
			<xs:element minOccurs="0" name="InventoryBlocks" type="InventoryBlocks"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ratePlanCodes" type="xs:string"/>
			<xs:element minOccurs="0" name="mfAllotmentId" type="xs:string"/>
			<xs:element minOccurs="0" name="mfMasterBlockCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfMarketCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfSourceCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfChannelCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfBlockOriginatorCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfCutoffDate" type="xs:date"/>
			<xs:element minOccurs="0" name="mfCutoffDays" type="xs:int"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="mfPackage" type="xs:string"/>
			<xs:element minOccurs="0" name="mfReservationType" type="xs:string"/>
			<xs:element minOccurs="0" name="mfShoulderBeginDate" type="xs:date"/>
			<xs:element minOccurs="0" name="mfShoulderEndDate" type="xs:date"/>
			<xs:element minOccurs="0" name="mfBookingStatus" type="xs:string"/>
			<xs:element minOccurs="0" name="mfBookingId" type="xs:string"/>
			<xs:element minOccurs="0" name="mfGuaranteeType" type="xs:string"/>
			<xs:element minOccurs="0" name="mfCurrencyCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfCateringFlag" type="xs:string"/>
			<xs:element minOccurs="0" name="mfBookingMethod" type="xs:string"/>
			<xs:element minOccurs="0" name="AllotmentNotes" type="AllotmentNotes"/>
			<xs:element minOccurs="0" name="Rules" type="Rules"/>
			<xs:element minOccurs="0" name="Udfs" type="Udfs"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="inventoryBlockCodeType" type="inventoryBlockCodeType" use="optional"/>
		<xs:attribute name="validBookingOffsetTimeUnitType" type="validBookingOffsetTimeUnitType" use="optional"/>
		<xs:attribute name="inventoryBlockNotificationType" type="inventoryBlockNotificationType" use="optional"/>
		<xs:attribute name="inventoryBlockStatusType" type="inventoryBlockStatusType" use="optional"/>
		<xs:attribute name="mfBlockType" type="mfBlockType" use="required"/>
		<xs:attribute name="mfBlockMessageType" type="mfBlockMessageType" use="required"/>
		<xs:attribute name="mfMasterBlock" type="xs:boolean" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="inventoryBlockCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="BLOCKCODE"/>
			<xs:enumeration value="GROUPBLOCKCODE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="validBookingOffsetTimeUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="YEAR"/>
			<xs:enumeration value="MONTH"/>
			<xs:enumeration value="WEEK"/>
			<xs:enumeration value="DAY"/>
			<xs:enumeration value="HOUR"/>
			<xs:enumeration value="MINUTE"/>
			<xs:enumeration value="SECOND"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="inventoryBlockNotificationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="NEW"/>
			<xs:enumeration value="DELTAMODIFICATION"/>
			<xs:enumeration value="FULLOVERLAYMODIFICATION"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="inventoryBlockStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INITIAL"/>
			<xs:enumeration value="ACTIVE"/>
			<xs:enumeration value="DEACTIVATED"/>
			<xs:enumeration value="RELEASE"/>
			<xs:enumeration value="UNLOCK"/>
			<xs:enumeration value="CANCEL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="mfBlockType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ELASTIC"/>
			<xs:enumeration value="NONELASTIC"/>
			<xs:enumeration value="UNDEFINED"/>
			<xs:enumeration value="FORCE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="mfBlockMessageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HEADER"/>
			<xs:enumeration value="HEADERWITHDETAIL"/>
			<xs:enumeration value="DETAIL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="HotelReference">
		<xs:sequence>
			<xs:element minOccurs="0" name="chainCode" type="xs:string"/>
			<xs:element name="hotelCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BlockTimeSpan">
		<xs:sequence>
			<xs:element name="startTime" type="xs:date"/>
			<xs:element name="numberOfTimeUnits" type="xs:int"/>
		</xs:sequence>
		<xs:attribute default="DAY" name="timeUnitType" type="timeUnitType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="timeUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="YEAR"/>
			<xs:enumeration value="MONTH"/>
			<xs:enumeration value="WEEK"/>
			<xs:enumeration value="DAY"/>
			<xs:enumeration value="HOUR"/>
			<xs:enumeration value="MINUTE"/>
			<xs:enumeration value="SECOND"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AvailableDaysOfWeek">
		<xs:sequence>
			<xs:element name="monday" type="xs:boolean"/>
			<xs:element name="tuesday" type="xs:boolean"/>
			<xs:element name="wednesday" type="xs:boolean"/>
			<xs:element name="thursday" type="xs:boolean"/>
			<xs:element name="friday" type="xs:boolean"/>
			<xs:element name="saturday" type="xs:boolean"/>
			<xs:element name="sunday" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrivalDaysOfWeek">
		<xs:sequence>
			<xs:element name="monday" type="xs:boolean"/>
			<xs:element name="tuesday" type="xs:boolean"/>
			<xs:element name="wednesday" type="xs:boolean"/>
			<xs:element name="thursday" type="xs:boolean"/>
			<xs:element name="friday" type="xs:boolean"/>
			<xs:element name="saturday" type="xs:boolean"/>
			<xs:element name="sunday" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequiredDaysOfWeek">
		<xs:sequence>
			<xs:element name="monday" type="xs:boolean"/>
			<xs:element name="tuesday" type="xs:boolean"/>
			<xs:element name="wednesday" type="xs:boolean"/>
			<xs:element name="thursday" type="xs:boolean"/>
			<xs:element name="friday" type="xs:boolean"/>
			<xs:element name="saturday" type="xs:boolean"/>
			<xs:element name="sunday" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BookingDateRange">
		<xs:sequence>
			<xs:element minOccurs="0" name="startTime" type="xs:date"/>
			<xs:element name="numberOfTimeUnits" type="xs:int"/>
		</xs:sequence>
		<xs:attribute default="DAY" name="timeUnitType" type="timeUnitType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="BlockShoulders">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="BlockShoulder" type="BlockShoulder"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BlockShoulder">
		<xs:sequence>
			<xs:element minOccurs="0" name="shoulderRPH" type="xs:int"/>
			<xs:element minOccurs="0" name="preShoulderSellLimit" type="xs:int"/>
			<xs:element minOccurs="0" name="postShoulderSellLimit" type="xs:int"/>
			<xs:element minOccurs="0" name="preShoulderStartDate" type="xs:date"/>
			<xs:element minOccurs="0" name="postShoulderStartDate" type="xs:date"/>
			<xs:element minOccurs="0" name="SellableProducts" type="SellableProducts"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="actionType" type="actionType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="actionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="NEW"/>
			<xs:enumeration value="CHANGE"/>
			<xs:enumeration value="DELETE"/>
			<xs:enumeration value="SYNC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SellableProducts">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="SellableProduct" type="SellableProduct"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SellableProduct">
		<xs:sequence>
			<xs:element minOccurs="0" name="sellableProductRPH" type="xs:int"/>
			<xs:element minOccurs="0" name="inventoryCode" type="xs:string"/>
			<xs:element minOccurs="0" name="ProductDescriptions" type="ProductDescriptions"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="actionType" type="actionType" use="optional"/>
		<xs:attribute name="inventoryCodeType" type="inventoryCodeType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="inventoryCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="INVENTORYCODE"/>
			<xs:enumeration value="INVENTORYGROUPINGCODE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ProductDescriptions">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ProductDescription" type="ProductDescription"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductDescription">
		<xs:sequence>
			<xs:element minOccurs="0" name="productDescriptionRPH" type="xs:int"/>
			<xs:element minOccurs="0" name="shortDescription" type="xs:string"/>
			<xs:element minOccurs="0" name="longDescription" type="xs:string"/>
			<xs:element minOccurs="0" name="languageID" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="actionType" type="actionType" use="optional"/>
		<xs:attribute name="productDescriptionType" type="productDescriptionType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="productDescriptionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="TRADITIONALGDS"/>
			<xs:enumeration value="GENERALPUBLIC"/>
			<xs:enumeration value="HOTEL"/>
			<xs:enumeration value="RESERVATIONAGENT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Viewerships">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Viewership" type="Viewership"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Viewership">
		<xs:sequence>
			<xs:element minOccurs="0" name="viewershipRPH" type="xs:int"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="systemCodes" type="xs:string"/>
			<xs:element minOccurs="0" name="systemCodeInclusive" type="xs:boolean"/>
			<xs:element minOccurs="0" name="Profiles" type="Profiles"/>
			<xs:element minOccurs="0" name="profilesInclusive" type="xs:boolean"/>
			<xs:element minOccurs="0" name="profileTypes" type="xs:string"/>
			<xs:element minOccurs="0" name="profileTypesInclusive" type="xs:boolean"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="locationCodes" type="xs:string"/>
			<xs:element minOccurs="0" name="locationCodesInclusive" type="xs:boolean"/>
			<xs:element minOccurs="0" name="viewOnly" type="xs:boolean"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="actionType" type="actionType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Profiles">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="profile:Profile"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssociatedProfiles">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" ref="profile:Profile"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InventoryBlocks">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="InventoryBlock" type="InventoryBlock"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InventoryBlock">
		<xs:sequence>
			<xs:element minOccurs="0" name="inventoryBlockRPH" type="xs:int"/>
			<xs:element name="inventoryCode" type="xs:string"/>
			<xs:element name="numberToBlock" type="xs:int"/>
			<xs:element minOccurs="0" name="sellLimit" type="xs:int"/>
			<xs:element minOccurs="0" name="procureBlockCode" type="xs:string"/>
			<xs:element name="mfInventoryDate" type="xs:date"/>
			<xs:element minOccurs="0" name="mfNumberSold" type="xs:int"/>
			<xs:element minOccurs="0" name="mfRate1" type="fixed144"/>
			<xs:element minOccurs="0" name="mfRate2" type="fixed144"/>
			<xs:element minOccurs="0" name="mfRate3" type="fixed144"/>
			<xs:element minOccurs="0" name="mfRate4" type="fixed144"/>
			<xs:element minOccurs="0" name="mfRateAddOn" type="fixed144"/>
			<xs:element minOccurs="0" name="mfRateChild" type="fixed144"/>
			<xs:element minOccurs="0" name="mfProjectedOcc1" type="xs:int"/>
			<xs:element minOccurs="0" name="mfProjectedOcc2" type="xs:int"/>
			<xs:element minOccurs="0" name="mfProjectedOcc3" type="xs:int"/>
			<xs:element minOccurs="0" name="mfProjectedOcc4" type="xs:int"/>
			<xs:element minOccurs="0" name="mfCutoffDate" type="xs:date"/>
			<xs:element minOccurs="0" name="mfCutoffDays" type="xs:int"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="actionType" type="actionType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="fixed144">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="14"/>
			<xs:fractionDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AllotmentNotes">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="AllotmentNote" type="AllotmentNote"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AllotmentNote">
		<xs:sequence>
			<xs:element minOccurs="0" name="noteType" type="xs:string"/>
			<xs:element minOccurs="0" name="noteDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="note" type="xs:string"/>
			<xs:element minOccurs="0" name="noteTitle" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Rules">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Rule" type="Rule"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Rule">
		<xs:sequence>
			<xs:element minOccurs="0" name="inventoryBlockGroupingCode" type="xs:string"/>
			<xs:element minOccurs="0" name="RuleAmount" type="RuleAmount"/>
			<xs:element minOccurs="0" name="ruleDate" type="xs:dateTime"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="ruleType" type="ruleType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="ruleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DEPOSIT"/>
			<xs:enumeration value="CANCEL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RuleAmount">
		<xs:sequence>
			<xs:element minOccurs="0" name="amount" type="fixed144"/>
		</xs:sequence>
		<xs:attribute name="amountType" type="amountType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="amountType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FLAT"/>
			<xs:enumeration value="PERCENT"/>
			<xs:enumeration value="NIGHT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Udfs">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="udf:Udf"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
