OriginalBW5Project/SharedResources/Schemas/OXI/allotment.fidelio.5.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="allotment.fidelio.5.0" xmlns:profile="profile.fidelio.3.0" xmlns:relationship="relationship.fidelio.3.0" xmlns:udf="udf.fidelio.2.0" xmlns:udfdefinition="udfdefinition.fidelio.2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="allotment.fidelio.5.0">
	<xs:import namespace="profile.fidelio.3.0" schemaLocation="profile.fidelio.3.0.xsd"/>
	<xs:import namespace="udf.fidelio.2.0" schemaLocation="udf.fidelio.2.0.xsd"/>
	<xs:import namespace="udfdefinition.fidelio.2.0" schemaLocation="udfdefinition.fidelio.2.0.xsd"/>
	<xs:import namespace="relationship.fidelio.3.0" schemaLocation="relationship.fidelio.3.0.xsd"/>
	<xs:element name="InventoryBlockNotification" type="InventoryBlockNotification">
		<xs:annotation>
			<xs:documentation>InventoryBlockNotification schema</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="InventoryBlockNotification">
		<xs:sequence>
			<xs:element minOccurs="0" name="HotelReference" type="HotelReference"/>
			<xs:element minOccurs="0" name="inventoryBlockName" type="xs:string"/>
			<xs:element name="inventoryBlockGroupingCode" type="xs:string"/>
			<xs:element minOccurs="0" name="preShoulderProcureBlockCode" type="xs:string"/>
			<xs:element minOccurs="0" name="postShoulderProcureBlockCode" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="inventoryBlockCodes" type="xs:string"/>
			<xs:element minOccurs="0" name="BlockTimeSpan" type="BlockTimeSpan"/>
			<xs:element minOccurs="0" name="dropDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="AvailableDaysOfWeek" type="AvailableDaysOfWeek"/>
			<xs:element minOccurs="0" name="ArrivalDaysOfWeek" type="ArrivalDaysOfWeek"/>
			<xs:element minOccurs="0" name="RequiredDaysOfWeek" type="RequiredDaysOfWeek"/>
			<xs:element minOccurs="0" name="numberRequiredNights" type="xs:int"/>
			<xs:element minOccurs="0" name="BookingDateRange" type="BookingDateRange"/>
			<xs:element minOccurs="0" name="validBookingMinOffset" type="xs:int"/>
			<xs:element minOccurs="0" name="validBookingMaxOffset" type="xs:int"/>
			<xs:element minOccurs="0" name="priceViewable" type="xs:boolean"/>
			<xs:element minOccurs="0" name="pricePrintable" type="xs:boolean"/>
			<xs:element minOccurs="0" name="BlockShoulders" type="BlockShoulders"/>
			<xs:element minOccurs="0" name="ProductDescriptions" type="ProductDescriptions"/>
			<xs:element minOccurs="0" name="Viewerships" type="Viewerships"/>
			<xs:element minOccurs="0" name="AssociatedProfiles" type="AssociatedProfiles"/>
			<xs:element minOccurs="0" name="InventoryBlocks" type="InventoryBlocks"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ratePlanCodes" type="xs:string"/>
			<xs:element minOccurs="0" name="mfAllotmentId" type="xs:string"/>
			<xs:element minOccurs="0" name="mfMasterBlockCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfMarketCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfSourceCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfChannelCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfBlockOriginatorCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfCutoffDate" type="xs:date"/>
			<xs:element minOccurs="0" name="mfCutoffDays" type="xs:int"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="mfPackage" type="xs:string"/>
			<xs:element minOccurs="0" name="mfReservationType" type="xs:string"/>
			<xs:element minOccurs="0" name="mfShoulderBeginDate" type="xs:date"/>
			<xs:element minOccurs="0" name="mfShoulderEndDate" type="xs:date"/>
			<xs:element minOccurs="0" name="mfBookingStatus" type="xs:string"/>
			<xs:element minOccurs="0" name="mfBookingId" type="xs:string"/>
			<xs:element minOccurs="0" name="mfGuaranteeType" type="xs:string"/>
			<xs:element minOccurs="0" name="mfCurrencyCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfCateringFlag" type="xs:string"/>
			<xs:element minOccurs="0" name="mfBookingMethod" type="xs:string"/>
			<xs:element minOccurs="0" name="AllotmentNotes" type="AllotmentNotes"/>
			<xs:element minOccurs="0" name="Rules" type="Rules"/>
			<xs:element minOccurs="0" name="Udfs" type="Udfs"/>
			<xs:element minOccurs="0" name="porterageIncluded" type="xs:boolean"/>
			<xs:element minOccurs="0" name="porteragePrice" type="fixed144"/>
			<xs:element minOccurs="0" name="breakfastIncluded" type="xs:boolean"/>
			<xs:element minOccurs="0" name="breakfastPrice" type="fixed144"/>
			<xs:element minOccurs="0" name="breakfastDescription" type="xs:string"/>
			<xs:element minOccurs="0" name="cancelCode" type="xs:string"/>
			<xs:element minOccurs="0" name="cancelDescription" type="xs:string"/>
			<xs:element minOccurs="0" name="cancelDestination" type="xs:string"/>
			<xs:element minOccurs="0" name="commission" type="xs:string"/>
			<xs:element minOccurs="0" name="exchangePostingType" type="xs:string"/>
			<xs:element minOccurs="0" name="paymentMethod" type="xs:string"/>
			<xs:element minOccurs="0" name="followupDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="decisionDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="tbdRates" type="xs:boolean"/>
			<xs:element minOccurs="0" name="arrivalTime" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="departureTime" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="Lead" type="Lead"/>
			<xs:element minOccurs="0" name="Catering" type="Catering"/>
			<xs:element minOccurs="0" name="Relationships" type="Relationships"/>
			<xs:element minOccurs="0" name="fbAgendas" type="fbAgendas"/>
			<xs:element minOccurs="0" name="commissionPercentage" type="xs:string"/>
			<xs:element minOccurs="0" name="owner" type="xs:string"/>
			<xs:element minOccurs="0" name="traceCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfBEAction" type="xs:string"/>
			<xs:element minOccurs="0" name="AllotmentRateCodes" type="AllotmentRateCodes"/>
			<xs:element minOccurs="0" name="FitContract" type="FitContract"/>
			<xs:element minOccurs="0" name="mfResortAllotmentId" type="xs:string"/>
			<xs:element minOccurs="0" name="taRecordLocator" type="xs:string"/>
			<xs:element minOccurs="0" name="roomingListDue" type="xs:date"/>
			<xs:element minOccurs="0" name="AllotmentTraces" type="AllotmentTraces"/>
			<xs:element minOccurs="0" name="tourCode" type="xs:string"/>
			<xs:element minOccurs="0" name="AlternateDates" type="AlternateDates"/>
			<xs:element minOccurs="0" name="syncContract" type="xs:boolean"/>
			<xs:element minOccurs="0" name="allowAlternateDates" type="xs:boolean"/>
			<xs:element minOccurs="0" name="sfaAttachments" type="xs:boolean"/>
			<xs:element minOccurs="0" name="lostToProperty" type="xs:string"/>
			<xs:element minOccurs="0" name="cancelPenalty" type="fixed144"/>
			<xs:element minOccurs="0" name="ContractRates" type="ContractRates"/>
			<xs:element minOccurs="0" name="blockAlias" type="xs:string"/>
			<xs:element minOccurs="0" name="OwnerDetails" type="OwnerDetails"/>
			<xs:element minOccurs="0" name="cateringStatus" type="xs:string"/>
			<xs:element minOccurs="0" name="revenueCurrencyCode" type="xs:string"/>
			<xs:element minOccurs="0" name="fbCommission1" type="fixed144"/>
			<xs:element minOccurs="0" name="createDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="opportunityId" type="xs:string"/>
			<xs:element minOccurs="0" name="agendaCurrencyCode" type="xs:string"/>
			<xs:element minOccurs="0" name="masterResort" type="xs:string"/>
			<xs:element minOccurs="0" name="masterResortAllotmentId" type="xs:string"/>
			<xs:element minOccurs="0" name="masterAllotmentId" type="xs:string"/>
			<xs:element minOccurs="0" name="AllotmentPackages" type="AllotmentPackages"/>
			<xs:element minOccurs="0" name="fitContractMode" type="xs:string"/>
			<xs:element minOccurs="0" name="distributedDate" type="xs:dateTime"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute default="BLOCKCODE" name="inventoryBlockCodeType" type="inventoryBlockCodeType" use="optional"/>
		<xs:attribute name="validBookingOffsetTimeUnitType" type="validBookingOffsetTimeUnitType" use="optional"/>
		<xs:attribute name="inventoryBlockNotificationType" type="inventoryBlockNotificationType" use="optional"/>
		<xs:attribute name="inventoryBlockStatusType" type="inventoryBlockStatusType" use="optional"/>
		<xs:attribute name="mfBlockType" type="mfBlockType" use="required"/>
		<xs:attribute name="mfBlockMessageType" type="mfBlockMessageType" use="required"/>
		<xs:attribute name="mfMasterBlock" type="xs:boolean" use="optional"/>
		<xs:attribute name="mfBookingType" type="xs:string" use="optional"/>
		<xs:attribute name="masterType" type="xs:string" use="optional"/>
		<xs:attribute name="subAllotment" type="xs:boolean" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="fixed144">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="14"/>
			<xs:fractionDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="inventoryBlockCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="BLOCKCODE"/>
			<xs:enumeration value="GROUPBLOCKCODE"/>
			<xs:enumeration value="LEAD"/>
			<xs:enumeration value="WHOLESALEBLOCKCODE"/>
			<xs:enumeration value="FIT_CONTRACT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="validBookingOffsetTimeUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="YEAR"/>
			<xs:enumeration value="MONTH"/>
			<xs:enumeration value="WEEK"/>
			<xs:enumeration value="DAY"/>
			<xs:enumeration value="HOUR"/>
			<xs:enumeration value="MINUTE"/>
			<xs:enumeration value="SECOND"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="inventoryBlockNotificationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="NEW"/>
			<xs:enumeration value="DELTAMODIFICATION"/>
			<xs:enumeration value="FULLOVERLAYMODIFICATION"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="inventoryBlockStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="INITIAL"/>
			<xs:enumeration value="ACTIVE"/>
			<xs:enumeration value="DEACTIVATED"/>
			<xs:enumeration value="RELEASE"/>
			<xs:enumeration value="UNLOCK"/>
			<xs:enumeration value="CANCEL"/>
			<xs:enumeration value="PEL"/>
			<xs:enumeration value="CFL"/>
			<xs:enumeration value="LOCK"/>
			<xs:enumeration value="UNLINK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="mfBlockType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ELASTIC"/>
			<xs:enumeration value="NONELASTIC"/>
			<xs:enumeration value="UNDEFINED"/>
			<xs:enumeration value="FORCE"/>
			<xs:enumeration value="SELLLIMIT"/>
			<xs:enumeration value="SELLLIMITELASTIC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="mfBlockMessageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HEADER"/>
			<xs:enumeration value="HEADERWITHDETAIL"/>
			<xs:enumeration value="DETAIL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="HotelReference">
		<xs:sequence>
			<xs:element minOccurs="0" name="chainCode" type="xs:string"/>
			<xs:element name="hotelCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BlockTimeSpan">
		<xs:sequence>
			<xs:element name="startTime" type="xs:date"/>
			<xs:element name="numberOfTimeUnits" type="xs:int"/>
		</xs:sequence>
		<xs:attribute default="DAY" name="timeUnitType" type="timeUnitType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="timeUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="YEAR"/>
			<xs:enumeration value="MONTH"/>
			<xs:enumeration value="WEEK"/>
			<xs:enumeration value="DAY"/>
			<xs:enumeration value="HOUR"/>
			<xs:enumeration value="MINUTE"/>
			<xs:enumeration value="SECOND"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AvailableDaysOfWeek">
		<xs:sequence>
			<xs:element name="monday" type="xs:boolean"/>
			<xs:element name="tuesday" type="xs:boolean"/>
			<xs:element name="wednesday" type="xs:boolean"/>
			<xs:element name="thursday" type="xs:boolean"/>
			<xs:element name="friday" type="xs:boolean"/>
			<xs:element name="saturday" type="xs:boolean"/>
			<xs:element name="sunday" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ArrivalDaysOfWeek">
		<xs:sequence>
			<xs:element name="monday" type="xs:boolean"/>
			<xs:element name="tuesday" type="xs:boolean"/>
			<xs:element name="wednesday" type="xs:boolean"/>
			<xs:element name="thursday" type="xs:boolean"/>
			<xs:element name="friday" type="xs:boolean"/>
			<xs:element name="saturday" type="xs:boolean"/>
			<xs:element name="sunday" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RequiredDaysOfWeek">
		<xs:sequence>
			<xs:element name="monday" type="xs:boolean"/>
			<xs:element name="tuesday" type="xs:boolean"/>
			<xs:element name="wednesday" type="xs:boolean"/>
			<xs:element name="thursday" type="xs:boolean"/>
			<xs:element name="friday" type="xs:boolean"/>
			<xs:element name="saturday" type="xs:boolean"/>
			<xs:element name="sunday" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BookingDateRange">
		<xs:sequence>
			<xs:element minOccurs="0" name="startTime" type="xs:date"/>
			<xs:element name="numberOfTimeUnits" type="xs:int"/>
		</xs:sequence>
		<xs:attribute default="DAY" name="timeUnitType" type="timeUnitType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="BlockShoulders">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="BlockShoulder" type="BlockShoulder"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BlockShoulder">
		<xs:sequence>
			<xs:element minOccurs="0" name="shoulderRPH" type="xs:int"/>
			<xs:element minOccurs="0" name="preShoulderSellLimit" type="xs:int"/>
			<xs:element minOccurs="0" name="postShoulderSellLimit" type="xs:int"/>
			<xs:element minOccurs="0" name="preShoulderStartDate" type="xs:date"/>
			<xs:element minOccurs="0" name="postShoulderStartDate" type="xs:date"/>
			<xs:element minOccurs="0" name="SellableProducts" type="SellableProducts"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="actionType" type="actionType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="actionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="NEW"/>
			<xs:enumeration value="CHANGE"/>
			<xs:enumeration value="DELETE"/>
			<xs:enumeration value="SYNC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SellableProducts">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="SellableProduct" type="SellableProduct"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SellableProduct">
		<xs:sequence>
			<xs:element minOccurs="0" name="sellableProductRPH" type="xs:int"/>
			<xs:element minOccurs="0" name="inventoryCode" type="xs:string"/>
			<xs:element minOccurs="0" name="ProductDescriptions" type="ProductDescriptions"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="actionType" type="actionType" use="optional"/>
		<xs:attribute name="inventoryCodeType" type="inventoryCodeType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="inventoryCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="INVENTORYCODE"/>
			<xs:enumeration value="INVENTORYGROUPINGCODE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ProductDescriptions">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ProductDescription" type="ProductDescription"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProductDescription">
		<xs:sequence>
			<xs:element minOccurs="0" name="productDescriptionRPH" type="xs:int"/>
			<xs:element minOccurs="0" name="shortDescription" type="xs:string"/>
			<xs:element minOccurs="0" name="longDescription" type="xs:string"/>
			<xs:element minOccurs="0" name="languageID" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="actionType" type="actionType" use="optional"/>
		<xs:attribute name="productDescriptionType" type="productDescriptionType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="productDescriptionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="TRADITIONALGDS"/>
			<xs:enumeration value="GENERALPUBLIC"/>
			<xs:enumeration value="HOTEL"/>
			<xs:enumeration value="RESERVATIONAGENT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Viewerships">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Viewership" type="Viewership"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Viewership">
		<xs:sequence>
			<xs:element minOccurs="0" name="viewershipRPH" type="xs:int"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="systemCodes" type="xs:string"/>
			<xs:element minOccurs="0" name="systemCodeInclusive" type="xs:boolean"/>
			<xs:element minOccurs="0" name="Profiles" type="Profiles"/>
			<xs:element minOccurs="0" name="profilesInclusive" type="xs:boolean"/>
			<xs:element minOccurs="0" name="profileTypes" type="xs:string"/>
			<xs:element minOccurs="0" name="profileTypesInclusive" type="xs:boolean"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="locationCodes" type="xs:string"/>
			<xs:element minOccurs="0" name="locationCodesInclusive" type="xs:boolean"/>
			<xs:element minOccurs="0" name="viewOnly" type="xs:boolean"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="actionType" type="actionType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Profiles">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="profile:Profile"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssociatedProfiles">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" ref="profile:Profile"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InventoryBlocks">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="InventoryBlock" type="InventoryBlock"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InventoryBlock">
		<xs:sequence>
			<xs:element minOccurs="0" name="inventoryBlockRPH" type="xs:int"/>
			<xs:element name="inventoryCode" type="xs:string"/>
			<xs:element name="numberToBlock" type="xs:int"/>
			<xs:element minOccurs="0" name="sellLimit" type="xs:int"/>
			<xs:element minOccurs="0" name="procureBlockCode" type="xs:string"/>
			<xs:element name="mfInventoryDate" type="xs:date"/>
			<xs:element minOccurs="0" name="mfNumberSold" type="xs:int"/>
			<xs:element minOccurs="0" name="mfRate1" type="fixed144"/>
			<xs:element minOccurs="0" name="mfRate2" type="fixed144"/>
			<xs:element minOccurs="0" name="mfRate3" type="fixed144"/>
			<xs:element minOccurs="0" name="mfRate4" type="fixed144"/>
			<xs:element minOccurs="0" name="mfRateAddOn" type="fixed144"/>
			<xs:element minOccurs="0" name="mfRateChild" type="fixed144"/>
			<xs:element minOccurs="0" name="mfProjectedOcc1" type="xs:int"/>
			<xs:element minOccurs="0" name="mfProjectedOcc2" type="xs:int"/>
			<xs:element minOccurs="0" name="mfProjectedOcc3" type="xs:int"/>
			<xs:element minOccurs="0" name="mfProjectedOcc4" type="xs:int"/>
			<xs:element minOccurs="0" name="mfCutoffDate" type="xs:date"/>
			<xs:element minOccurs="0" name="mfCutoffDays" type="xs:int"/>
			<xs:element minOccurs="0" name="mfContractedOcc1" type="xs:int"/>
			<xs:element minOccurs="0" name="mfContractedOcc2" type="xs:int"/>
			<xs:element minOccurs="0" name="mfContractedOcc3" type="xs:int"/>
			<xs:element minOccurs="0" name="mfContractedOcc4" type="xs:int"/>
			<xs:element minOccurs="0" name="mfPickedUpOcc1" type="xs:int"/>
			<xs:element minOccurs="0" name="mfPickedUpOcc2" type="xs:int"/>
			<xs:element minOccurs="0" name="mfPickedUpOcc3" type="xs:int"/>
			<xs:element minOccurs="0" name="mfPickedUpOcc4" type="xs:int"/>
			<xs:element minOccurs="0" name="inventoryType" type="xs:string"/>
			<xs:element minOccurs="0" name="elastic" type="xs:int"/>
			<xs:element minOccurs="0" name="elasticSold" type="xs:int"/>
			<xs:element name="RoomRevenueGroups" type="RoomRevenueGroups"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="actionType" type="actionType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RoomRevenueGroups">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="RoomRevenueGroup" type="RoomRevenueGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoomRevenueGroup">
		<xs:sequence>
			<xs:element minOccurs="0" name="mfAmountOcc1" type="fixed144"/>
			<xs:element minOccurs="0" name="mfAmountOcc2" type="fixed144"/>
			<xs:element minOccurs="0" name="mfAmountOcc3" type="fixed144"/>
			<xs:element minOccurs="0" name="mfAmountOcc4" type="fixed144"/>
		</xs:sequence>
		<xs:attribute name="revenueGroupCode" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="AllotmentNotes">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="AllotmentNote" type="AllotmentNote"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AllotmentNote">
		<xs:sequence>
			<xs:element minOccurs="0" name="noteType" type="xs:string"/>
			<xs:element minOccurs="0" name="noteDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="note" type="xs:string"/>
			<xs:element minOccurs="0" name="noteTitle" type="xs:string"/>
			<xs:element minOccurs="0" name="noteSourceId" type="xs:string"/>
			<xs:element minOccurs="0" name="noteDestId" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Rules">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Rule" type="Rule"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Rule">
		<xs:sequence>
			<xs:element minOccurs="0" name="inventoryBlockGroupingCode" type="xs:string"/>
			<xs:element minOccurs="0" name="RuleAmount" type="RuleAmount"/>
			<xs:element minOccurs="0" name="ruleDate" type="xs:dateTime"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="ruleType" type="ruleType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="ruleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DEPOSIT"/>
			<xs:enumeration value="CANCEL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RuleAmount">
		<xs:sequence>
			<xs:element minOccurs="0" name="amount" type="fixed144"/>
		</xs:sequence>
		<xs:attribute name="amountType" type="amountType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="amountType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FLAT"/>
			<xs:enumeration value="PERCENT"/>
			<xs:enumeration value="NIGHT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Udfs">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="udf:Udf"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Lead">
		<xs:sequence>
			<xs:element minOccurs="0" name="responseDueBy" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="leadStatus" type="xs:string"/>
			<xs:element minOccurs="0" name="leadOriginatorName" type="xs:string"/>
			<xs:element minOccurs="0" name="leadSentDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="LeadContacts" type="LeadContacts"/>
			<xs:element minOccurs="0" name="replyStatus" type="xs:string"/>
			<xs:element minOccurs="0" name="turnDownReason" type="xs:string"/>
			<xs:element minOccurs="0" name="replyDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="datePending" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="dateAccepted" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="dateTurnedDown" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="dateConfirmed" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="dateLost" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="attachmentURL" type="xs:string"/>
			<xs:element minOccurs="0" name="allowChangeByProperty" type="xs:boolean"/>
			<xs:element minOccurs="0" name="LeadHistories" type="LeadHistories"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LeadContacts">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="LeadContact" type="LeadContact"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LeadContact">
		<xs:sequence>
			<xs:element minOccurs="0" name="contactName" type="xs:string"/>
			<xs:element minOccurs="0" name="communicationAddress" type="xs:string"/>
			<xs:element minOccurs="0" name="communicationType" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LeadHistories">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="LeadHistory" type="LeadHistory"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LeadHistory">
		<xs:sequence>
			<xs:element minOccurs="0" name="bookedResort" type="xs:string"/>
			<xs:element minOccurs="0" name="allotmentCode" type="xs:string"/>
			<xs:element minOccurs="0" name="marketingRegion" type="xs:string"/>
			<xs:element minOccurs="0" name="marketingCity" type="xs:string"/>
			<xs:element minOccurs="0" name="startDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="endDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="originalRoomNights" type="fixed144"/>
			<xs:element minOccurs="0" name="contractRoomNights" type="fixed144"/>
			<xs:element minOccurs="0" name="actualRoomNights" type="fixed144"/>
			<xs:element minOccurs="0" name="actualRoomRevenue" type="fixed144"/>
			<xs:element minOccurs="0" name="actualAvgRate" type="fixed144"/>
			<xs:element minOccurs="0" name="actualFbRevenue" type="fixed144"/>
			<xs:element minOccurs="0" name="actualOtherRevenue" type="fixed144"/>
			<xs:element minOccurs="0" name="hasEvents" type="xs:boolean"/>
			<xs:element minOccurs="0" name="lostToProperty" type="xs:string"/>
			<xs:element minOccurs="0" name="lostToDestination" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Catering">
		<xs:sequence>
			<xs:element minOccurs="0" name="statusCode" type="xs:string"/>
			<xs:element minOccurs="0" name="attendees" type="xs:int"/>
			<xs:element minOccurs="0" name="infoBoardName" type="xs:string"/>
			<xs:element minOccurs="0" name="followupDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="decisionDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="functionType" type="xs:string"/>
			<xs:element minOccurs="0" name="quotedCurrencyCode" type="xs:string"/>
			<xs:element minOccurs="0" name="contractNumber" type="xs:string"/>
			<xs:element minOccurs="0" name="contractFinalized" type="xs:boolean"/>
			<xs:element minOccurs="0" name="addPackages" type="xs:boolean"/>
			<xs:element minOccurs="0" name="distributed" type="xs:boolean"/>
			<xs:element minOccurs="0" name="taxAmount" type="fixed144"/>
			<xs:element minOccurs="0" name="serviceCharge" type="fixed144"/>
			<xs:element minOccurs="0" name="cancelCode" type="xs:string"/>
			<xs:element minOccurs="0" name="cancelDescription" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Relationships">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="relationship:Relationship"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fbAgendas">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="fbAgenda" type="fbAgenda"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fbAgenda">
		<xs:sequence>
			<xs:element minOccurs="0" name="fbaName" type="xs:string"/>
			<xs:element minOccurs="0" name="eventType" type="xs:string"/>
			<xs:element minOccurs="0" name="fbaDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="fbaDay" type="xs:int"/>
			<xs:element minOccurs="0" name="eventQuantity" type="fixed144"/>
			<xs:element minOccurs="0" name="attendees" type="xs:int"/>
			<xs:element minOccurs="0" name="fbaBudget" type="fixed144"/>
			<xs:element minOccurs="0" name="roomType" type="xs:string"/>
			<xs:element minOccurs="0" name="roomSetup" type="xs:string"/>
			<xs:element minOccurs="0" name="fbaComments" type="fbaComments"/>
			<xs:element minOccurs="0" name="fbaResources" type="fbaResources"/>
			<xs:element minOccurs="0" name="fbaRevenues" type="fbaRevenues"/>
			<xs:element minOccurs="0" name="fbaEndDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="fbAgendaId" type="fbAgendaId"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="fbaComments">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="AllotmentNote" type="AllotmentNote"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fbaResources">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="fbaResource" type="fbaResource"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fbaResource">
		<xs:sequence>
			<xs:element minOccurs="0" name="resourceCode" type="xs:string"/>
			<xs:element minOccurs="0" name="resourceName" type="xs:string"/>
			<xs:element minOccurs="0" name="resourceQuantity" type="fixed144"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="fbaRevenues">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="fbaRevenue" type="fbaRevenue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fbaRevenue">
		<xs:sequence>
			<xs:element minOccurs="0" name="revenueSeq" type="fixed144"/>
			<xs:element minOccurs="0" name="revenueType" type="xs:string"/>
			<xs:element minOccurs="0" name="revenueGroup" type="xs:string"/>
			<xs:element minOccurs="0" name="budgetedRevenue" type="fixed144"/>
			<xs:element minOccurs="0" name="expectedRevenue" type="fixed144"/>
			<xs:element minOccurs="0" name="customRevenueYN" type="xs:boolean"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="fbAgendaId">
		<xs:sequence>
			<xs:element minOccurs="0" name="fbaCentralId" type="xs:string"/>
			<xs:element minOccurs="0" name="fbaResortId" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AllotmentRateCodes">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="AllotmentRateCode" type="AllotmentRateCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AllotmentRateCode">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="rateType" type="xs:string" use="required"/>
		<xs:attribute name="rateCode" type="xs:string" use="required"/>
		<xs:attribute name="rateBeginDate" type="xs:date" use="optional"/>
		<xs:attribute name="rateEndDate" type="xs:date" use="optional"/>
		<xs:attribute name="rateprimary" type="xs:boolean" use="optional"/>
	</xs:complexType>
	<xs:complexType name="FitContract">
		<xs:sequence>
			<xs:element minOccurs="0" name="potRoomRevenue" type="fixed144"/>
			<xs:element minOccurs="0" name="potFbRevenue" type="fixed144"/>
			<xs:element minOccurs="0" name="potOtherRevenue" type="fixed144"/>
			<xs:element minOccurs="0" name="commissionablePerc" type="fixed144"/>
			<xs:element minOccurs="0" name="fitDiscountPerc" type="fixed144"/>
			<xs:element minOccurs="0" name="bfstInclPrice" type="fixed144"/>
			<xs:element minOccurs="0" name="servicePerc" type="fixed144"/>
			<xs:element minOccurs="0" name="dblRmSupplementPrice" type="fixed144"/>
			<xs:element minOccurs="0" name="taxIncludedPerc" type="fixed144"/>
			<xs:element minOccurs="0" name="potRoomNights" type="xs:int"/>
			<xs:element minOccurs="0" name="fitDiscountLevel" type="xs:int"/>
			<xs:element minOccurs="0" name="commissionable" type="xs:boolean"/>
			<xs:element minOccurs="0" name="bfstIncl" type="xs:boolean"/>
			<xs:element minOccurs="0" name="serviceIncl" type="xs:boolean"/>
			<xs:element minOccurs="0" name="dblRmSupplement" type="xs:boolean"/>
			<xs:element minOccurs="0" name="taxIncluded" type="xs:boolean"/>
			<xs:element minOccurs="0" name="rateOverride" type="xs:boolean"/>
			<xs:element minOccurs="0" name="centralOwner" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AllotmentTraces">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="AllotmentTrace" type="AllotmentTrace"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AllotmentTrace">
		<xs:sequence>
			<xs:element minOccurs="0" name="traceDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="traceText" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AlternateDates">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="AlternateDate" type="AlternateDate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AlternateDate">
		<xs:sequence>
			<xs:element minOccurs="0" name="alternateArrivalDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="alternateDepartureDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="inventoryCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfRate1" type="fixed144"/>
			<xs:element minOccurs="0" name="mfRate2" type="fixed144"/>
			<xs:element minOccurs="0" name="mfRate3" type="fixed144"/>
			<xs:element minOccurs="0" name="mfRate4" type="fixed144"/>
			<xs:element minOccurs="0" name="preferred" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContractRates">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ContractRate" type="ContractRate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContractRate">
		<xs:sequence>
			<xs:element minOccurs="0" name="mfCurrencyCode" type="xs:string"/>
			<xs:element name="inventoryCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfRate1" type="fixed144"/>
			<xs:element minOccurs="0" name="mfRate2" type="fixed144"/>
			<xs:element minOccurs="0" name="mfRate3" type="fixed144"/>
			<xs:element minOccurs="0" name="mfRate4" type="fixed144"/>
			<xs:element minOccurs="0" name="mfRateAddOn" type="fixed144"/>
		</xs:sequence>
		<xs:attribute name="rateBeginDate" type="xs:date" use="optional"/>
		<xs:attribute name="rateEndDate" type="xs:date" use="optional"/>
	</xs:complexType>
	<xs:complexType name="OwnerDetails">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="OwnerDetail" type="OwnerDetail"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OwnerDetail">
		<xs:sequence>
			<xs:element minOccurs="0" name="firstName" type="xs:string"/>
			<xs:element minOccurs="0" name="lastName" type="xs:string"/>
			<xs:element minOccurs="0" name="primaryEmail" type="xs:string"/>
			<xs:element minOccurs="0" name="primaryPhone" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="ownerType" type="xs:string" use="required"/>
		<xs:attribute name="mfPrimary" type="xs:boolean" use="optional"/>
	</xs:complexType>
	<xs:complexType name="AllotmentPackages">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="AllotmentPackage" type="AllotmentPackage"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AllotmentPackage">
		<xs:sequence>
			<xs:element name="mfPackage" type="xs:string"/>
			<xs:element name="quantity" type="xs:int"/>
			<xs:element minOccurs="0" name="TimeSpan" type="TimeSpan"/>
			<xs:element minOccurs="0" name="ratePlanCode" type="xs:string"/>
			<xs:element minOccurs="0" name="quantityExcluded" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TimeSpan">
		<xs:sequence>
			<xs:element minOccurs="0" name="startTime" type="xs:date"/>
			<xs:element minOccurs="0" name="numberOfTimeUnits" type="xs:int"/>
		</xs:sequence>
		<xs:attribute default="DAY" name="timeUnitType" type="timeUnitType" use="optional"/>
	</xs:complexType>
</xs:schema>
