OriginalBW5Project/SharedResources/Schemas/OXI/configuration.opera.3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns="configuration.opera.3.0"
	 xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 targetNamespace="configuration.opera.3.0"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Configuration" type="Configuration">
		<xs:annotation>
			<xs:documentation>Configuration schema</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Configuration">
		<xs:sequence>
			<xs:element name="HotelReference" type="HotelReference"/>
			<xs:element name="ConfigItems" type="ConfigItems"/>
		</xs:sequence>
		<xs:attribute name="configType" type="xs:string" use="required"/>
		<xs:attribute name="actionType" type="actionType" use="required"/>
		<xs:attribute name="requestId" type="xs:string"/>
	</xs:complexType>
	<xs:simpleType name="actionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NEW"/>
			<xs:enumeration value="CHANGE"/>
			<xs:enumeration value="DELETE"/>
			<xs:enumeration value="SYNC_ALL"/>
			<xs:enumeration value="SYNC_GROUP"/>
			<xs:enumeration value="SYNC_ONE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="HotelReference">
		<xs:sequence>
			<xs:element name="chainCode" type="xs:string" minOccurs="0"/>
			<xs:element name="hotelCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConfigItems">
		<xs:sequence>
			<xs:element name="ConfigItem" type="ConfigItem" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConfigItem">
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="shortDescription" type="xs:string" minOccurs="0"/>
			<xs:element name="ReservationType" type="ReservationType" minOccurs="0"/>
			<xs:element name="DepositRule" type="DepositRule" minOccurs="0"/>
			<xs:element name="CancellationRule" type="CancellationRule" minOccurs="0"/>
			<xs:element name="RuleSchedule" type="RuleSchedule" minOccurs="0"/>
			<xs:element name="AllotmentStatusCode" type="AllotmentStatusCode" minOccurs="0"/>
			<xs:element name="PreferenceGroup" type="PreferenceGroup" minOccurs="0"/>
			<xs:element name="Preference" type="Preference" minOccurs="0"/>
			<xs:element name="MembershipClass" type="MembershipClass" minOccurs="0"/>
			<xs:element name="MembershipGroup" type="MembershipGroup" minOccurs="0"/>
			<xs:element name="MarketCode" type="MarketCode" minOccurs="0"/>
			<xs:element name="Country" type="Country" minOccurs="0"/>
			<xs:element name="CityPostalCode" type="CityPostalCode" minOccurs="0"/>
			<xs:element name="RateSeason" type="RateSeason" minOccurs="0"/>
			<xs:element name="ForeignCurrencyCode" type="ForeignCurrencyCode" minOccurs="0"/>
			<xs:element name="ForeignExchangeCode" type="ForeignExchangeCode" minOccurs="0"/>
			<xs:element name="RevenueBucket" type="RevenueBucket" minOccurs="0"/>
			<xs:element name="CommissionCode" type="CommissionCode" minOccurs="0"/>
			<xs:element name="RoomType" type="RoomType" minOccurs="0"/>
			<xs:element name="ItemInventoryClass" type="ItemInventoryClass" minOccurs="0"/>
			<xs:element name="ItemInventory" type="ItemInventory" minOccurs="0"/>
			<xs:element name="ForeignExchangeRate" type="ForeignExchangeRate" minOccurs="0"/>
			<xs:element name="BestAvailableRate" type="BestAvailableRate" minOccurs="0"/>
			<xs:element name="RelationCfg" type="RelationCfg" minOccurs="0"/>
			<xs:element name="MembershipAward" type="MembershipAward" minOccurs="0"/>
			<xs:element name="MembershipPointSchedules" type="MembershipPointSchedules" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="itemCode" type="xs:string" use="required"/>
		<xs:attribute name="itemOldCode" type="xs:string"/>
		<xs:attribute name="itemGroup" type="xs:string"/>
		<xs:attribute name="groupType" type="xs:string"/>
		<xs:attribute name="displaySequence" type="xs:int"/>
		<xs:attribute name="beginDate" type="xs:date"/>
		<xs:attribute name="endDate" type="xs:date"/>
		<xs:attribute name="inactive" type="xs:boolean"/>
		<xs:attribute name="timeStamp" type="xs:dateTime"/>
	</xs:complexType>
	<xs:complexType name="ReservationType">
		<xs:attribute name="arrivalTimeRequired" type="xs:boolean"/>
		<xs:attribute name="deductible" type="xs:boolean"/>
		<xs:attribute name="ccRequired" type="xs:boolean"/>
		<xs:attribute name="depositRequired" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="DepositRule">
		<xs:attribute name="depositRuleType" type="depositRuleType"/>
		<xs:attribute name="amount" type="fixed144"/>
		<xs:attribute name="daysBeforeArrival" type="xs:int"/>
		<xs:attribute name="daysAfterBooking" type="xs:int"/>
	</xs:complexType>
	<xs:simpleType name="fixed144">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="14"/>
			<xs:fractionDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="depositRuleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="F"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="T"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CancellationRule">
		<xs:attribute name="cancelRuleType" type="cancelRuleType"/>
		<xs:attribute name="amount" type="fixed144"/>
		<xs:attribute name="cancelBefore" type="xs:dateTime"/>
		<xs:attribute name="daysBeforeArrival" type="xs:int"/>
	</xs:complexType>
	<xs:simpleType name="cancelRuleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="F"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="O"/>
			<xs:enumeration value="P"/>
			<xs:enumeration value="T"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RuleSchedule">
		<xs:attribute name="scheduleRuleType" type="scheduleRuleType"/>
		<xs:attribute name="rateCode" type="xs:string"/>
		<xs:attribute name="reservationType" type="xs:string"/>
		<xs:attribute name="override" type="xs:boolean"/>
		<xs:attribute name="creditRating" type="xs:string"/>
		<xs:attribute name="paymentRequired" type="xs:string"/>
	</xs:complexType>
	<xs:simpleType name="scheduleRuleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DEPOSIT"/>
			<xs:enumeration value="CANCEL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AllotmentStatusCode">
		<xs:sequence>
			<xs:element name="NextStatuses" type="NextStatuses" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="roomStatusType" type="xs:string"/>
		<xs:attribute name="reservationType" type="xs:string"/>
		<xs:attribute name="reasonType" type="xs:string"/>
		<xs:attribute name="allowPickup" type="xs:boolean"/>
		<xs:attribute name="returnInventory" type="xs:boolean"/>
		<xs:attribute name="startingStatus" type="xs:boolean"/>
		<xs:attribute name="leadStatus" type="xs:boolean"/>
		<xs:attribute name="logCateringChanges" type="xs:boolean"/>
		<xs:attribute name="displayColor" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="NextStatuses">
		<xs:sequence>
			<xs:element name="NextStatus" type="NextStatus" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NextStatus">
		<xs:attribute name="statusCode" type="xs:string"/>
		<xs:attribute name="displaySequence" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="PreferenceGroup">
		<xs:attribute name="maximumQuantity" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="Preference">
		<xs:attribute name="global" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="MembershipClass">
		<xs:attribute name="classType" type="classType"/>
	</xs:complexType>
	<xs:simpleType name="classType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LOYALTY"/>
			<xs:enumeration value="FREQUENT_FLYER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MembershipGroup">
		<xs:sequence>
			<xs:element name="GroupItems" type="GroupItems" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroupItems">
		<xs:sequence>
			<xs:element name="GroupItem" type="GroupItem" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GroupItem">
		<xs:attribute name="groupItemCode" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="MarketCode">
		<xs:attribute name="displayColor" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="Country">
		<xs:attribute name="statisticCode" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="CityPostalCode">
		<xs:attribute name="countryCode" type="xs:string"/>
		<xs:attribute name="stateCode" type="xs:string"/>
		<xs:attribute name="districtCode" type="xs:string"/>
		<xs:attribute name="city" type="xs:string"/>
		<xs:attribute name="postalCodeBegin" type="xs:string"/>
		<xs:attribute name="postalCodeEnd" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="RateSeason">
		<xs:attribute name="rateCode" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="ForeignCurrencyCode">
		<xs:attribute name="Decimals" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="ForeignExchangeCode">
		<xs:attribute name="exchangeCash" type="xs:boolean"/>
		<xs:attribute name="exchangeCheck" type="xs:boolean"/>
		<xs:attribute name="settlement" type="xs:boolean"/>
		<xs:attribute name="posting" type="xs:boolean"/>
		<xs:attribute name="commission" type="xs:boolean"/>
		<xs:attribute name="membership" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="RevenueBucket">
		<xs:sequence>
			<xs:element name="TransactionCodes" type="TransactionCodes" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionCodes">
		<xs:sequence>
			<xs:element name="TransactionCode" type="TransactionCode" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionCode">
		<xs:attribute name="transactionCode" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="CommissionCode">
		<xs:sequence>
			<xs:element name="ReservationCommission" type="ReservationCommission" minOccurs="0"/>
			<xs:element name="RevenueCommission" type="RevenueCommission" minOccurs="0"/>
			<xs:element name="HoldStatus" type="HoldStatus"/>
			<xs:element name="HistoryRecord" type="HistoryRecord"/>
		</xs:sequence>
		<xs:attribute name="basedOn" type="basedOn"/>
		<xs:attribute name="taxPercent" type="fixed144"/>
	</xs:complexType>
	<xs:simpleType name="basedOn">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RESERVATION"/>
			<xs:enumeration value="REVENUE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ReservationCommission">
		<xs:attribute name="payFrequency" type="payFrequency"/>
		<xs:attribute name="amount" type="fixed144"/>
	</xs:complexType>
	<xs:simpleType name="payFrequency">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NIGHT"/>
			<xs:enumeration value="STAY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RevenueCommission">
		<xs:sequence>
			<xs:element name="CommissionTxnCodes" type="CommissionTxnCodes" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommissionTxnCodes">
		<xs:sequence>
			<xs:element name="CommissionTxnCode" type="CommissionTxnCode" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommissionTxnCode">
		<xs:attribute name="transactionCode" type="xs:string"/>
		<xs:attribute name="percentage" type="fixed144"/>
		<xs:attribute name="weekendPercentage" type="fixed144"/>
		<xs:attribute name="basedOnNetAmount" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:complexType name="HoldStatus">
		<xs:attribute name="always" type="xs:boolean" use="required"/>
		<xs:attribute name="ar" type="xs:boolean" use="required"/>
		<xs:attribute name="prepaid" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:complexType name="HistoryRecord">
		<xs:attribute name="payFrequency" type="payFrequency"/>
		<xs:attribute name="amount" type="fixed144"/>
		<xs:attribute name="amountType" type="amountType"/>
	</xs:complexType>
	<xs:simpleType name="amountType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FLAT"/>
			<xs:enumeration value="PERCENTAGE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RoomType">
		<xs:sequence>
			<xs:element name="ComponentRoomTypes" type="ComponentRoomTypes" minOccurs="0"/>
			<xs:element name="RoomTypeFeatures" type="RoomTypeFeatures" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="defaultOccupancy" type="xs:int"/>
		<xs:attribute name="maximumOccupancy" type="xs:int"/>
		<xs:attribute name="maximumRollAways" type="xs:int"/>
		<xs:attribute name="publishedRateCode" type="xs:string"/>
		<xs:attribute name="publishedRateAmount" type="fixed144"/>
		<xs:attribute name="pseudoRoomType" type="xs:boolean"/>
		<xs:attribute name="enableHousekeeping" type="xs:boolean"/>
		<xs:attribute name="genericRoomType" type="xs:boolean"/>
		<xs:attribute name="meetingRoomType" type="xs:boolean"/>
		<xs:attribute name="numberOfRooms" type="xs:int"/>
		<xs:attribute name="yieldCategory" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="ComponentRoomTypes">
		<xs:sequence>
			<xs:element name="ComponentRoomType" type="ComponentRoomType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ComponentRoomType">
		<xs:attribute name="componentRoomType" type="xs:string" use="required"/>
		<xs:attribute name="componentRoomCount" type="xs:int"/>
	</xs:complexType>
	<xs:complexType name="RoomTypeFeatures">
		<xs:sequence>
			<xs:element name="RoomTypeFeature" type="RoomTypeFeature" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoomTypeFeature">
		<xs:sequence>
			<xs:element name="featureComment" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="featureCode" type="xs:string" use="required"/>
		<xs:attribute name="featureType" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="ItemInventoryClass">
		<xs:sequence>
			<xs:element name="usedIn" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="discountable" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="ItemInventory">
		<xs:sequence>
			<xs:element name="DailyItemInventories" type="DailyItemInventories" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="discountable" type="xs:boolean"/>
		<xs:attribute name="critical" type="xs:boolean"/>
		<xs:attribute name="sellControl" type="xs:boolean"/>
		<xs:attribute name="orderExternally" type="xs:boolean"/>
		<xs:attribute name="sellSeparate" type="xs:boolean"/>
		<xs:attribute name="printable" type="xs:boolean"/>
		<xs:attribute name="availableFrom" type="xs:dateTime"/>
		<xs:attribute name="availableTo" type="xs:dateTime"/>
		<xs:attribute name="cost" type="fixed144"/>
		<xs:attribute name="defaultQuantity" type="fixed144"/>
		<xs:attribute name="quantityInStock" type="fixed144"/>
		<xs:attribute name="setDownMinutes" type="fixed144"/>
		<xs:attribute name="setUpMinutes" type="fixed144"/>
		<xs:attribute name="revenueType" type="xs:string"/>
		<xs:attribute name="itemInventoryPool" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="DailyItemInventories">
		<xs:sequence>
			<xs:element name="DailyItemInventory" type="DailyItemInventory" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DailyItemInventory">
		<xs:attribute name="beginDate" type="xs:date"/>
		<xs:attribute name="endDate" type="xs:date"/>
		<xs:attribute name="quantityInStock" type="fixed144"/>
	</xs:complexType>
	<xs:complexType name="ForeignExchangeRate">
		<xs:sequence>
			<xs:element name="comment" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="currencyCode" type="xs:string" use="required"/>
		<xs:attribute name="exchangeRate" type="fixed144"/>
		<xs:attribute name="exchangeRateType" type="xs:string" use="required"/>
		<xs:attribute name="buyCommissionPercent" type="fixed144"/>
		<xs:attribute name="buyForexRate" type="fixed144"/>
		<xs:attribute name="sellExchangeRate" type="fixed144"/>
		<xs:attribute name="sellCommissionPercent" type="fixed144"/>
		<xs:attribute name="sellForexRate" type="fixed144"/>
		<xs:attribute name="lockRate" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="BestAvailableRate">
		<xs:sequence>
			<xs:element name="DaysOfWeek" type="DaysOfWeek" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="los" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="DaysOfWeek">
		<xs:sequence>
			<xs:element name="monday" type="xs:boolean" minOccurs="0"/>
			<xs:element name="tuesday" type="xs:boolean" minOccurs="0"/>
			<xs:element name="wednesday" type="xs:boolean" minOccurs="0"/>
			<xs:element name="thursday" type="xs:boolean" minOccurs="0"/>
			<xs:element name="friday" type="xs:boolean" minOccurs="0"/>
			<xs:element name="saturday" type="xs:boolean" minOccurs="0"/>
			<xs:element name="sunday" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RelationCfg">
		<xs:sequence>
			<xs:element name="toDescription" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="fromType" type="xs:string" use="required"/>
		<xs:attribute name="individual" type="xs:boolean"/>
		<xs:attribute name="inheritRates" type="xs:boolean"/>
		<xs:attribute name="toType" type="xs:string" use="required"/>
		<xs:attribute name="toRelation" type="xs:string" use="required"/>
		<xs:attribute name="toIndividual" type="xs:boolean"/>
		<xs:attribute name="toInheritRates" type="xs:boolean"/>
		<xs:attribute name="primary" type="xs:boolean"/>
		<xs:attribute name="global" type="xs:boolean"/>
		<xs:attribute name="hierarchy" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="MembershipAward">
		<xs:sequence>
			<xs:element name="messageLine1" type="xs:string" minOccurs="0"/>
			<xs:element name="messageLine2" type="xs:string" minOccurs="0"/>
			<xs:element name="messageLine3" type="xs:string" minOccurs="0"/>
			<xs:element name="messageLine4" type="xs:string" minOccurs="0"/>
			<xs:element name="ResortList" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MembershipAwardProducts" type="MembershipAwardProducts" minOccurs="0"/>
			<xs:element name="MembershipAwardRates" type="MembershipAwardRates" minOccurs="0"/>
			<xs:element name="MembershipAwardUpgrades" type="MembershipAwardUpgrades" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="membershipLevel" type="xs:string"/>
		<xs:attribute name="awardQuantity" type="xs:int"/>
		<xs:attribute name="cancelPenaltyDays" type="xs:int"/>
		<xs:attribute name="cancelPenaltyCharge" type="fixed144"/>
		<xs:attribute name="cancelPenaltyType" type="cancelPenaltyType" use="required"/>
		<xs:attribute name="autoConsume" type="xs:boolean"/>
		<xs:attribute name="forceVerification" type="xs:boolean"/>
		<xs:attribute name="awardBasedOn" type="awardBasedOn" use="required"/>
		<xs:attribute name="pointsRequired" type="xs:int"/>
		<xs:attribute name="awardValue" type="fixed144"/>
		<xs:attribute name="displaySet" type="xs:string"/>
		<xs:attribute name="exchangeRateType" type="xs:string" use="required"/>
		<xs:attribute name="maxPercentAllowed" type="fixed144"/>
		<xs:attribute name="pointsScheduleCode" type="xs:string"/>
		<xs:attribute name="billingGroup" type="xs:string"/>
	</xs:complexType>
	<xs:simpleType name="cancelPenaltyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="POINTS"/>
			<xs:enumeration value="PERCENT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="awardBasedOn">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RATE"/>
			<xs:enumeration value="PRODUCT"/>
			<xs:enumeration value="UPGRADE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MembershipAwardProducts">
		<xs:sequence>
			<xs:element name="MembershipAwardProduct" type="MembershipAwardProduct" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MembershipAwardProduct">
		<xs:sequence>
			<xs:element name="hotelCode" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="product" type="xs:string"/>
		<xs:attribute name="inactiveDate" type="xs:dateTime"/>
	</xs:complexType>
	<xs:complexType name="MembershipAwardRates">
		<xs:sequence>
			<xs:element name="MembershipAwardRate" type="MembershipAwardRate" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MembershipAwardRate">
		<xs:sequence>
			<xs:element name="hotelCode" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="rateCode" type="xs:string"/>
		<xs:attribute name="inactiveDate" type="xs:dateTime"/>
	</xs:complexType>
	<xs:complexType name="MembershipAwardUpgrades">
		<xs:sequence>
			<xs:element name="MembershipAwardUpgrade" type="MembershipAwardUpgrade" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MembershipAwardUpgrade">
		<xs:sequence>
			<xs:element name="hotelCode" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="fromRoomType" type="xs:string" use="required"/>
		<xs:attribute name="toRoomType" type="xs:string" use="required"/>
		<xs:attribute name="beginDate" type="xs:date"/>
		<xs:attribute name="endDate" type="xs:date"/>
		<xs:attribute name="pointsRequired" type="xs:int"/>
		<xs:attribute name="inactiveDate" type="xs:dateTime"/>
	</xs:complexType>
	<xs:complexType name="MembershipPointSchedules">
		<xs:sequence>
			<xs:element name="MembershipPointSchedule" type="MembershipPointSchedule" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MembershipPointSchedule">
		<xs:attribute name="beginDate" type="xs:date"/>
		<xs:attribute name="endDate" type="xs:date"/>
		<xs:attribute name="pointVariation" type="fixed144" use="required"/>
		<xs:attribute name="pointVariationType" type="pointVariationType" use="required"/>
		<xs:attribute name="inactiveDate" type="xs:dateTime"/>
	</xs:complexType>
	<xs:simpleType name="pointVariationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FLAT"/>
			<xs:enumeration value="PERCENTAGE"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
