OriginalBW5Project/SharedResources/Schemas/OXI/profile.fidelio.5.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="profile.fidelio.5.0" xmlns:ecertificate="ecertificate.fidelio.1.0" xmlns:ecertificatemr="ecertificatemr.fidelio.1.0" xmlns:relationship="relationship.fidelio.3.0" xmlns:udf="udf.fidelio.2.0" xmlns:udfdefinition="udfdefinition.fidelio.2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="profile.fidelio.5.0">
	<xs:import namespace="udf.fidelio.2.0" schemaLocation="udf.fidelio.2.0.xsd"/>
	<xs:import namespace="udfdefinition.fidelio.2.0" schemaLocation="udfdefinition.fidelio.2.0.xsd"/>
	<xs:import namespace="relationship.fidelio.3.0" schemaLocation="relationship.fidelio.3.0.xsd"/>
	<xs:import namespace="ecertificate.fidelio.1.0" schemaLocation="ecertificate.fidelio.1.0.xsd"/>
	<xs:import namespace="ecertificatemr.fidelio.1.0" schemaLocation="ecertificatemr.fidelio.1.0.xsd"/>
	<xs:element name="Profile" type="Profile">
		<xs:annotation>
			<xs:documentation>Profile schema</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CreditCard" type="CreditCard"/>
	<xs:complexType name="Profile">
		<xs:sequence>
			<xs:element minOccurs="0" name="profileID" type="xs:string"/>
			<xs:element minOccurs="0" name="creatorCode" type="xs:string"/>
			<xs:element minOccurs="0" name="createdDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="lastUpdaterCode" type="xs:string"/>
			<xs:element minOccurs="0" name="lastUpdated" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="consortiumCode" type="xs:string"/>
			<xs:element minOccurs="0" name="commissionPlanCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfCommissionCurrencyCode" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="preferredRatePlanCode" type="xs:string"/>
			<xs:element minOccurs="0" name="preferredRoomType" type="xs:string"/>
			<xs:element minOccurs="0" name="genericName" type="xs:string"/>
			<xs:element name="IndividualName" type="IndividualName"/>
			<xs:element minOccurs="0" name="corporatePosition" type="xs:string"/>
			<xs:element minOccurs="0" name="pin" type="xs:string"/>
			<xs:element minOccurs="0" name="dateOfBirth" type="xs:date"/>
			<xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
			<xs:element minOccurs="0" name="CreditLimit" type="CreditLimit"/>
			<xs:element minOccurs="0" name="primaryLanguageID" type="xs:string"/>
			<xs:element minOccurs="0" name="alternateLanguageIDs" type="xs:string"/>
			<xs:element minOccurs="0" name="Documents" type="Documents"/>
			<xs:element minOccurs="0" name="CreditCards" type="CreditCards"/>
			<xs:element minOccurs="0" name="ElectronicAddresses" type="ElectronicAddresses"/>
			<xs:element minOccurs="0" name="Memberships" type="Memberships"/>
			<xs:element minOccurs="0" name="PostalAddresses" type="PostalAddresses"/>
			<xs:element minOccurs="0" name="PhoneNumbers" type="PhoneNumbers"/>
			<xs:element minOccurs="0" name="ProfileCertifications" type="ProfileCertifications"/>
			<xs:element minOccurs="0" name="SpecialRequests" type="SpecialRequests"/>
			<xs:element minOccurs="0" name="Comments" type="Comments"/>
			<xs:element minOccurs="0" name="mfResort" type="xs:string"/>
			<xs:element minOccurs="0" name="mfResortProfileID" type="xs:string"/>
			<xs:element minOccurs="0" name="mfNameCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfVipStatus" type="xs:string"/>
			<xs:element minOccurs="0" name="mfARNumber" type="xs:string"/>
			<xs:element minOccurs="0" name="mfMasterAccount" type="xs:string"/>
			<xs:element minOccurs="0" name="mfBlacklist" type="xs:string"/>
			<xs:element minOccurs="0" name="mfBlacklistMessage" type="xs:string"/>
			<xs:element minOccurs="0" name="mfOccupation" type="xs:string"/>
			<xs:element minOccurs="0" name="mfContactLast" type="xs:string"/>
			<xs:element minOccurs="0" name="mfContactFirst" type="xs:string"/>
			<xs:element minOccurs="0" name="mfAllowMail" type="xs:string"/>
			<xs:element minOccurs="0" name="mfAllowEMail" type="xs:string"/>
			<xs:element minOccurs="0" name="mfGuestPriv" type="xs:string"/>
			<xs:element minOccurs="0" name="mfLookupTranId" type="xs:string"/>
			<xs:element minOccurs="0" name="Udfs" type="Udfs"/>
			<xs:element minOccurs="0" name="mfNationalName" type="mfNationalName"/>
			<xs:element minOccurs="0" name="mfNegotiatedRates" type="mfNegotiatedRates"/>
			<xs:element minOccurs="0" name="mfContactYn" type="xs:string"/>
			<xs:element minOccurs="0" name="mfExternalLanguage" type="xs:string"/>
			<xs:element minOccurs="0" name="mfContactAccount" type="xs:string"/>
			<xs:element minOccurs="0" name="mfAllowPhone" type="xs:boolean"/>
			<xs:element minOccurs="0" name="mfAllowSMS" type="xs:boolean"/>
			<xs:element minOccurs="0" name="YieldAdjustments" type="YieldAdjustments"/>
			<xs:element minOccurs="0" name="Relationships" type="Relationships"/>
			<xs:element minOccurs="0" name="mfNameCodeType" type="xs:string"/>
			<xs:element minOccurs="0" name="mfCreditRating" type="xs:string"/>
			<xs:element minOccurs="0" name="Keywords" type="Keywords"/>
			<xs:element minOccurs="0" name="MergedIDs" type="MergedIDs"/>
			<xs:element minOccurs="0" name="SalesExtention" type="SalesExtention"/>
			<xs:element minOccurs="0" name="PrivacyOption" type="PrivacyOption"/>
			<xs:element minOccurs="0" name="ChannelAccessCodes" type="ChannelAccessCodes"/>
			<xs:element minOccurs="0" name="ResortData" type="ResortData"/>
			<xs:element minOccurs="0" name="PseudoCityCodes" type="PseudoCityCodes"/>
			<xs:element minOccurs="0" name="ProfRoutingInstructions" type="ProfRoutingInstructions"/>
			<xs:element minOccurs="0" name="sfaAttachments" type="xs:boolean"/>
			<xs:element minOccurs="0" name="department" type="xs:string"/>
			<xs:element minOccurs="0" name="DepartmentNotes" type="DepartmentNotes"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ResortList" type="xs:string"/>
			<xs:element minOccurs="0" name="MultiResortEntities" type="MultiResortEntities"/>
			<xs:element minOccurs="0" name="ResortComments" type="ResortComments"/>
			<xs:element minOccurs="0" name="ResortSpecialRequests" type="ResortSpecialRequests"/>
			<xs:element minOccurs="0" name="WebAccounts" type="WebAccounts"/>
			<xs:element minOccurs="0" name="ProfileCertificates" type="ProfileCertificates"/>
			<xs:element minOccurs="0" name="ProfileGuests" type="ProfileGuests"/>
			<xs:element minOccurs="0" name="ResortARs" type="ResortARs"/>
			<xs:element minOccurs="0" name="ResortNegotiatedRates" type="ResortNegotiatedRates"/>
			<xs:element minOccurs="0" name="ProfileHosts" type="ProfileHosts"/>
			<xs:element minOccurs="0" name="LastStays" type="LastStays"/>
			<xs:element minOccurs="0" name="arCreditLimit" type="xs:boolean"/>
			<xs:element minOccurs="0" name="profileCreditLimit" type="fixed144"/>
			<xs:element minOccurs="0" name="ProfileMRCertificates" type="ProfileMRCertificates"/>
			<xs:element minOccurs="0" name="InactivePhoneNumbers" type="InactivePhoneNumbers"/>
			<xs:element minOccurs="0" name="InactivePostalAddresses" type="InactivePostalAddresses"/>
			<xs:element minOccurs="0" name="AllDocuments" type="AllDocuments"/>
			<xs:element minOccurs="0" name="nationality" type="xs:string"/>
			<xs:element minOccurs="0" name="mfPlaceOfBirth" type="xs:string"/>
			<xs:element minOccurs="0" name="dateOfBirthEncryptedIn" type="xs:string"/>
			<xs:element minOccurs="0" name="dateOfBirthEncryptedOut" type="xs:string"/>
			<xs:element minOccurs="0" name="enrolledAgentId" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute default="GUEST" name="profileType" type="profileType" use="optional"/>
		<xs:attribute default="UNKNOWN" name="gender" type="gender" use="optional"/>
		<xs:attribute default="0" name="multiProperty" type="xs:boolean" use="optional"/>
		<xs:attribute default="0" name="miniProfile" type="xs:boolean" use="optional"/>
		<xs:attribute default="0" name="pseudoProfile" type="xs:boolean" use="optional"/>
		<xs:attribute name="protectedBy" type="xs:string" use="optional"/>
		<xs:attribute default="0" name="replaceAddress" type="xs:boolean" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="fixed144">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="14"/>
			<xs:fractionDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="profileType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="GUEST"/>
			<xs:enumeration value="CORPORATE"/>
			<xs:enumeration value="TRAVEL"/>
			<xs:enumeration value="WHOLESALER"/>
			<xs:enumeration value="GROUP"/>
			<xs:enumeration value="TOUR"/>
			<xs:enumeration value="CRO"/>
			<xs:enumeration value="CONTACT"/>
			<xs:enumeration value="AIRLINE"/>
			<xs:enumeration value="REPCOMPANY"/>
			<xs:enumeration value="INTERNET"/>
			<xs:enumeration value="HOTEL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="gender">
		<xs:restriction base="xs:string">
			<xs:enumeration value="UNKNOWN"/>
			<xs:enumeration value="MALE"/>
			<xs:enumeration value="FEMALE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="IndividualName">
		<xs:sequence>
			<xs:element minOccurs="0" name="namePrefix" type="xs:string"/>
			<xs:element minOccurs="0" name="nameFirst" type="xs:string"/>
			<xs:element minOccurs="0" name="nameMiddle" type="xs:string"/>
			<xs:element name="nameSur" type="xs:string"/>
			<xs:element minOccurs="0" name="nameSuffix" type="xs:string"/>
			<xs:element minOccurs="0" name="nameTitle" type="xs:string"/>
			<xs:element minOccurs="0" name="nameOrdered" type="xs:string"/>
			<xs:element minOccurs="0" name="name2" type="xs:string"/>
			<xs:element minOccurs="0" name="name3" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditLimit">
		<xs:sequence>
			<xs:element minOccurs="0" name="valueNum" type="fixed144"/>
		</xs:sequence>
		<xs:attribute name="currencyCode" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Documents">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Document" type="Document"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element minOccurs="0" name="name" type="xs:string"/>
			<xs:element minOccurs="0" name="docNumber" type="xs:string"/>
			<xs:element minOccurs="0" name="countryCode" type="xs:string"/>
			<xs:element minOccurs="0" name="nationality" type="xs:string"/>
			<xs:element minOccurs="0" name="effectiveDate" type="xs:date"/>
			<xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
			<xs:element minOccurs="0" name="documentCode" type="xs:string"/>
			<xs:element minOccurs="0" name="placeOfIssue" type="xs:string"/>
			<xs:element minOccurs="0" name="mfPlaceOfBirth" type="xs:string"/>
			<xs:element minOccurs="0" name="mfPrimaryYN" type="xs:string"/>
			<xs:element minOccurs="0" name="docNumberEncryptedIn" type="xs:string"/>
			<xs:element minOccurs="0" name="docNumberEncryptedOut" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="CreditCards">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="CreditCard" type="CreditCard"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditCard">
		<xs:sequence>
			<xs:element name="creditCardCode" type="xs:string"/>
			<xs:element minOccurs="0" name="creditCardHolderName" type="xs:string"/>
			<xs:element name="creditCardNumber" type="xs:string"/>
			<xs:element minOccurs="0" name="creditCardBeginDate" type="xs:date"/>
			<xs:element minOccurs="0" name="creditCardExpire" type="xs:date"/>
			<xs:element minOccurs="0" name="mfPrimaryYN" type="xs:string"/>
			<xs:element minOccurs="0" name="creditCardVault" type="xs:string"/>
			<xs:element minOccurs="0" name="creditCardUniqueId" type="xs:string"/>
			<xs:element minOccurs="0" name="creditCardFourDigits" type="xs:string"/>
			<xs:element minOccurs="0" name="creditCardOperaId" type="xs:string"/>
			<xs:element minOccurs="0" name="creditCardOperaEncryptedNo" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ElectronicAddresses">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ElectronicAddress" type="ElectronicAddress"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ElectronicAddress">
		<xs:sequence>
			<xs:element name="eAddress" type="xs:string"/>
			<xs:element minOccurs="0" name="mfPrimaryYN" type="xs:string"/>
			<xs:element minOccurs="0" name="confirmation" type="xs:boolean"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="electronicAddressType" type="electronicAddressType" use="required"/>
		<xs:attribute name="communicationRPH" type="xs:unsignedInt" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="electronicAddressType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EMAIL"/>
			<xs:enumeration value="PAGER"/>
			<xs:enumeration value="WEBPAGE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Memberships">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Membership" type="Membership"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Membership">
		<xs:sequence>
			<xs:element name="programCode" type="xs:string"/>
			<xs:element name="accountID" type="xs:string"/>
			<xs:element minOccurs="0" name="levelCode" type="xs:string"/>
			<xs:element minOccurs="0" name="membershipCategoryCode" type="xs:string"/>
			<xs:element minOccurs="0" name="expireDate" type="xs:date"/>
			<xs:element minOccurs="0" name="startDate" type="xs:date"/>
			<xs:element minOccurs="0" name="mfPrimaryAirlineYN" type="xs:string"/>
			<xs:element minOccurs="0" name="mfAwardAvailable" type="xs:int"/>
			<xs:element minOccurs="0" name="mfAwardCredits" type="xs:int"/>
			<xs:element minOccurs="0" name="mfTotalStays" type="xs:int"/>
			<xs:element minOccurs="0" name="nameOnCard" type="xs:string"/>
			<xs:element minOccurs="0" name="membershipStatus" type="xs:string"/>
			<xs:element minOccurs="0" name="displaySequence" type="xs:int"/>
			<xs:element minOccurs="0" name="enrollmentCode" type="xs:string"/>
			<xs:element minOccurs="0" name="pointIndicator" type="xs:boolean"/>
			<xs:element minOccurs="0" name="enrollmentSource" type="xs:string"/>
			<xs:element minOccurs="0" name="enrolledAt" type="xs:string"/>
			<xs:element minOccurs="0" name="deviceCode" type="xs:string"/>
			<xs:element minOccurs="0" name="deviceDisableDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="deviceType" type="xs:string"/>
			<xs:element minOccurs="0" name="rankValue" type="xs:int"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PostalAddresses">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="PostalAddress" type="PostalAddress"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostalAddress">
		<xs:sequence>
			<xs:element minOccurs="0" name="address1" type="xs:string"/>
			<xs:element minOccurs="0" name="address2" type="xs:string"/>
			<xs:element minOccurs="0" name="address3" type="xs:string"/>
			<xs:element minOccurs="0" name="address4" type="xs:string"/>
			<xs:element minOccurs="0" name="city" type="xs:string"/>
			<xs:element minOccurs="0" name="stateCode" type="xs:string"/>
			<xs:element minOccurs="0" name="postalCode" type="xs:string"/>
			<xs:element minOccurs="0" name="countryCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfPrimaryYN" type="xs:string"/>
			<xs:element minOccurs="0" name="mfAddressLanguage" type="xs:string"/>
			<xs:element minOccurs="0" name="cleansed" type="xs:boolean"/>
			<xs:element minOccurs="0" name="postalCodeExt" type="xs:string"/>
			<xs:element minOccurs="0" name="barCode" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute default="HOME" name="addressType" type="addressType" use="optional"/>
		<xs:attribute name="addressRPH" type="xs:unsignedInt" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="addressType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HOME"/>
			<xs:enumeration value="BUSINESS"/>
			<xs:enumeration value="MAILING"/>
			<xs:enumeration value="SHIPPING"/>
			<xs:enumeration value="BILLING"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PhoneNumbers">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="PhoneNumber" type="PhoneNumber"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PhoneNumber">
		<xs:sequence>
			<xs:element minOccurs="0" name="countryAccessNumber" type="xs:string"/>
			<xs:element minOccurs="0" name="cityCode" type="xs:string"/>
			<xs:element minOccurs="0" name="phoneNumber" type="xs:string"/>
			<xs:element minOccurs="0" name="phoneExtension" type="xs:string"/>
			<xs:element minOccurs="0" name="mfPrimaryYN" type="xs:string"/>
			<xs:element minOccurs="0" name="confirmation" type="xs:boolean"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute default="HOME" name="phoneNumberType" type="phoneNumberType" use="optional"/>
		<xs:attribute name="communicationRPH" type="xs:unsignedInt" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="phoneNumberType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OTHER"/>
			<xs:enumeration value="HOME"/>
			<xs:enumeration value="BUSINESS"/>
			<xs:enumeration value="MOBILE"/>
			<xs:enumeration value="HOMEFAX"/>
			<xs:enumeration value="BUSINESSFAX"/>
			<xs:enumeration value="PAGER"/>
			<xs:enumeration value="TELEX"/>
			<xs:enumeration value="TTY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ProfileCertifications">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ProfileCertification" type="ProfileCertification"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProfileCertification">
		<xs:sequence>
			<xs:element minOccurs="0" name="certificationID" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="certificationType" type="certificationType" use="required"/>
	</xs:complexType>
	<xs:simpleType name="certificationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="IATA"/>
			<xs:enumeration value="ARC"/>
			<xs:enumeration value="OTHER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SpecialRequests">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="SpecialRequest" type="SpecialRequest"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpecialRequest">
		<xs:sequence>
			<xs:element minOccurs="0" name="specialRequestRPH" type="xs:int"/>
			<xs:element name="requestCode" type="xs:string"/>
			<xs:element minOccurs="0" name="requestComments" type="xs:string"/>
			<xs:element minOccurs="0" name="mfResort" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="reservationActionType" type="reservationActionType" use="optional"/>
		<xs:attribute default="FEA" name="mfSpecialRequestType" type="mfSpecialRequestType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="reservationActionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="NEW"/>
			<xs:enumeration value="CHANGE"/>
			<xs:enumeration value="DELETE"/>
			<xs:enumeration value="SYNC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="mfSpecialRequestType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SPE"/>
			<xs:enumeration value="FEA"/>
			<xs:enumeration value="INT"/>
			<xs:enumeration value="PRS"/>
			<xs:enumeration value="PRV"/>
			<xs:enumeration value="NEW"/>
			<xs:enumeration value="RES"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Comments">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Comment" type="Comment"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Comment">
		<xs:sequence>
			<xs:element minOccurs="0" name="commentOriginatorCode" type="xs:string"/>
			<xs:element minOccurs="0" name="guestViewable" type="xs:boolean"/>
			<xs:element minOccurs="0" name="lastUpdated" type="xs:dateTime"/>
			<xs:element name="commentStr" type="xs:string"/>
			<xs:element minOccurs="0" name="commentType" type="xs:string"/>
			<xs:element minOccurs="0" name="commentTitle" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Udfs">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="udf:Udf"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mfNationalName">
		<xs:sequence>
			<xs:element minOccurs="0" name="nameLast" type="xs:string"/>
			<xs:element minOccurs="0" name="nameFirst" type="xs:string"/>
			<xs:element minOccurs="0" name="nameTitle" type="xs:string"/>
			<xs:element minOccurs="0" name="greeting" type="xs:string"/>
			<xs:element minOccurs="0" name="companyName" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mfNegotiatedRates">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="NegotiatedRate" type="NegotiatedRate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NegotiatedRate">
		<xs:sequence>
			<xs:element name="mfResort" type="xs:string"/>
			<xs:element name="rateCode" type="xs:string"/>
			<xs:element minOccurs="0" name="rateBeginDate" type="xs:date"/>
			<xs:element minOccurs="0" name="rateEndDate" type="xs:date"/>
			<xs:element minOccurs="0" name="commissionPlanCode" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="YieldAdjustments">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Adjustment" type="Adjustment"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Adjustment">
		<xs:sequence>
			<xs:element minOccurs="0" name="adjustmentCode" type="xs:string"/>
			<xs:element minOccurs="0" name="AdjustmentAmount" type="AdjustmentAmount"/>
			<xs:element name="mfResort" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdjustmentAmount">
		<xs:sequence>
			<xs:element minOccurs="0" name="valueNum" type="fixed144"/>
		</xs:sequence>
		<xs:attribute name="currencyCode" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Relationships">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="relationship:Relationship"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Keywords">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Keyword" type="Keyword"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Keyword">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" use="required"/>
		<xs:attribute name="value" type="xs:string" use="optional"/>
		<xs:attribute name="action" type="action" use="required"/>
		<xs:attribute name="allowUserUpdate" type="xs:boolean" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="action">
		<xs:restriction base="xs:string">
			<xs:enumeration value="KEEP"/>
			<xs:enumeration value="DELETE"/>
			<xs:enumeration value="UPDATE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MergedIDs">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="MergedID" type="MergedID"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MergedID">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="destinationProfileID" type="xs:string" use="required"/>
		<xs:attribute name="sourceProfileID" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="SalesExtention">
		<xs:sequence>
			<xs:element minOccurs="0" name="priorityCode" type="xs:string"/>
			<xs:element minOccurs="0" name="roomsPotential" type="xs:string"/>
			<xs:element minOccurs="0" name="scope" type="xs:string"/>
			<xs:element minOccurs="0" name="scopeCity" type="xs:string"/>
			<xs:element minOccurs="0" name="actionCode" type="xs:string"/>
			<xs:element minOccurs="0" name="businessSegment" type="xs:string"/>
			<xs:element minOccurs="0" name="accountType" type="xs:string"/>
			<xs:element minOccurs="0" name="source" type="xs:string"/>
			<xs:element minOccurs="0" name="industryCode" type="xs:string"/>
			<xs:element minOccurs="0" name="competitionCode" type="xs:string"/>
			<xs:element minOccurs="0" name="influenceCode" type="xs:string"/>
			<xs:element minOccurs="0" name="territory" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PrivacyOption">
		<xs:sequence>
			<xs:element minOccurs="0" name="mfAllowMail" type="xs:string"/>
			<xs:element minOccurs="0" name="mfAllowEMail" type="xs:string"/>
			<xs:element minOccurs="0" name="mfAllowPhone" type="xs:boolean"/>
			<xs:element minOccurs="0" name="mfAllowSMS" type="xs:boolean"/>
			<xs:element minOccurs="0" name="mfAllowHistory" type="xs:boolean"/>
			<xs:element minOccurs="0" name="mfAllowMarketResearch" type="xs:boolean"/>
			<xs:element minOccurs="0" name="mfAllowThirdParty" type="xs:boolean"/>
			<xs:element minOccurs="0" name="mfAllowPromotion" type="xs:boolean"/>
			<xs:element minOccurs="0" name="mfAllowLoyaltyProgram" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChannelAccessCodes">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="ChannelAccessCode" type="ChannelAccessCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChannelAccessCode">
		<xs:sequence>
			<xs:element name="rateCode" type="xs:string"/>
			<xs:element name="channelCode" type="xs:string"/>
			<xs:element name="accessCode" type="xs:string"/>
			<xs:element name="accessChannelCode" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ResortList" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="mfAllResorts" type="xs:boolean" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ResortData">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="ResortDatum" type="ResortDatum"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResortDatum">
		<xs:sequence>
			<xs:element name="mfResort" type="xs:string"/>
			<xs:element minOccurs="0" name="mfARNumber" type="xs:string"/>
			<xs:element minOccurs="0" name="paymentMethod" type="xs:string"/>
			<xs:element minOccurs="0" name="sfaAttachments" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PseudoCityCodes">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="PseudoCityCode" type="PseudoCityCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PseudoCityCode">
		<xs:sequence>
			<xs:element name="channelCode" type="xs:string"/>
			<xs:element name="pcCode" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ProfRoutingInstructions">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="ProfRoutingInstruction" type="ProfRoutingInstruction"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProfRoutingInstruction">
		<xs:sequence>
			<xs:element name="mfResort" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="transactionCode" type="xs:string" use="optional"/>
		<xs:attribute name="routingCode" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="DepartmentNotes">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="DepartmentNote" type="DepartmentNote"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DepartmentNote">
		<xs:sequence>
			<xs:element name="noteCode" type="xs:string"/>
			<xs:element name="shortNote" type="xs:string"/>
			<xs:element name="updatedByResort" type="xs:string"/>
			<xs:element name="approvalDate" type="xs:dateTime"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MultiResortEntities">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="MultiResortEntity" type="MultiResortEntity"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MultiResortEntity">
		<xs:sequence>
			<xs:element name="entity" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="included" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:complexType name="ResortComments">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="ResortComment" type="ResortComment"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResortComment">
		<xs:sequence>
			<xs:element minOccurs="0" name="mfResort" type="xs:string"/>
			<xs:element name="Comment" type="Comment"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResortSpecialRequests">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="SpecialRequest" type="SpecialRequest"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WebAccounts">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="WebAccount" type="WebAccount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WebAccount">
		<xs:sequence>
			<xs:element name="loginName" type="xs:string"/>
			<xs:element name="password" type="xs:string"/>
			<xs:element minOccurs="0" name="secQuestion" type="xs:string"/>
			<xs:element minOccurs="0" name="secAnswer" type="xs:string"/>
			<xs:element minOccurs="0" name="lastLoginDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="insertSource" type="xs:string"/>
			<xs:element minOccurs="0" name="comments" type="xs:string"/>
			<xs:element minOccurs="0" name="passwordChangeDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="pwdSystemGenerated" type="xs:boolean"/>
			<xs:element minOccurs="0" name="accountLocked" type="xs:dateTime"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ProfileCertificates">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="ecertificate:ECertificate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProfileGuests">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ProfileGuest" type="ProfileGuest"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProfileGuest">
		<xs:sequence>
			<xs:element minOccurs="0" name="nameLast" type="xs:string"/>
			<xs:element minOccurs="0" name="nameFirst" type="xs:string"/>
			<xs:element minOccurs="0" name="nameMiddle" type="xs:string"/>
			<xs:element minOccurs="0" name="eAddress" type="xs:string"/>
			<xs:element minOccurs="0" name="displaySequence" type="xs:int"/>
			<xs:element minOccurs="0" name="profileID" type="xs:string"/>
			<xs:element minOccurs="0" name="mfResortProfileID" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ResortARs">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ResortAR" type="ResortAR"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResortAR">
		<xs:sequence>
			<xs:element name="mfResort" type="xs:string"/>
			<xs:element minOccurs="0" name="mfARNumber" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ResortNegotiatedRates">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="NegotiatedRate" type="NegotiatedRate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProfileHosts">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ProfileHost" type="ProfileHost"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProfileHost">
		<xs:sequence>
			<xs:element minOccurs="0" name="profileID" type="xs:string"/>
			<xs:element minOccurs="0" name="mfResortProfileID" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="LastStays">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="LastStay" type="LastStay"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LastStay">
		<xs:sequence>
			<xs:element name="mfResort" type="xs:string"/>
			<xs:element name="arrivalDate" type="xs:date"/>
			<xs:element minOccurs="0" name="mfResortName" type="xs:string"/>
			<xs:element minOccurs="0" name="roomType" type="xs:string"/>
			<xs:element minOccurs="0" name="rateCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProfileMRCertificates">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="ecertificatemr:MultiResortECertificate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InactivePhoneNumbers">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="PhoneNumber" type="PhoneNumber"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InactivePostalAddresses">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="PostalAddress" type="PostalAddress"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AllDocuments">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Document" type="Document"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
