OriginalBW5Project/SharedResources/Schemas/OXI/rate.fidelio.6.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="rate.fidelio.6.0" xmlns:packages="packages.fidelio.3.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="rate.fidelio.6.0">
	<xs:import namespace="packages.fidelio.3.0" schemaLocation="packages.fidelio.3.0.xsd"/>
	<xs:element name="RateHeader" type="RateHeader">
		<xs:annotation>
			<xs:documentation>RateHeader schema</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RateHeader">
		<xs:sequence>
			<xs:element minOccurs="0" name="hotelCode" type="xs:string"/>
			<xs:element minOccurs="0" name="chainCode" type="xs:string"/>
			<xs:element minOccurs="0" name="rateClass" type="xs:string"/>
			<xs:element minOccurs="0" name="RateCategory" type="RateCategory"/>
			<xs:element name="rateCode" type="xs:string"/>
			<xs:element minOccurs="0" name="startSell" type="xs:date"/>
			<xs:element minOccurs="0" name="endSell" type="xs:date"/>
			<xs:element minOccurs="0" name="advancedBookingDays" type="xs:int"/>
			<xs:element minOccurs="0" name="advancedBookingDays2" type="xs:int"/>
			<xs:element minOccurs="0" name="displayText" type="xs:string"/>
			<xs:element minOccurs="0" name="folioText" type="xs:string"/>
			<xs:element minOccurs="0" name="longInfo" type="xs:string"/>
			<xs:element minOccurs="0" name="shortInfo" type="xs:string"/>
			<xs:element minOccurs="0" name="weekendDays" type="xs:string"/>
			<xs:element minOccurs="0" name="closedToArrivalDays" type="xs:string"/>
			<xs:element minOccurs="0" name="minLos" type="xs:int"/>
			<xs:element minOccurs="0" name="maxLos" type="xs:int"/>
			<xs:element minOccurs="0" name="rhythm" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="packages" type="xs:string"/>
			<xs:element minOccurs="0" name="marketCode" type="xs:string"/>
			<xs:element minOccurs="0" name="sourceCode" type="xs:string"/>
			<xs:element minOccurs="0" name="commissionCode" type="xs:string"/>
			<xs:element minOccurs="0" name="commission" type="xs:float"/>
			<xs:element minOccurs="0" name="foreignCurrencyDepartmentCode" type="xs:string"/>
			<xs:element minOccurs="0" name="departmentCode" type="xs:string"/>
			<xs:element minOccurs="0" name="weekendDepartmentCode" type="xs:string"/>
			<xs:element minOccurs="0" name="currencyFix" type="xs:string"/>
			<xs:element minOccurs="0" name="confidential" type="xs:string"/>
			<xs:element minOccurs="0" name="printRate" type="xs:boolean"/>
			<xs:element minOccurs="0" name="baseRateCode" type="xs:string"/>
			<xs:element minOccurs="0" name="baseAmount" type="fixed144"/>
			<xs:element minOccurs="0" name="basePercent" type="xs:string"/>
			<xs:element minOccurs="0" name="baseRounding" type="xs:string"/>
			<xs:element minOccurs="0" name="rateTiered" type="xs:boolean"/>
			<xs:element minOccurs="0" name="rateBucket" type="xs:string"/>
			<xs:element minOccurs="0" name="negotiated" type="xs:boolean"/>
			<xs:element minOccurs="0" name="dayUse" type="xs:boolean"/>
			<xs:element minOccurs="0" name="complimentary" type="xs:boolean"/>
			<xs:element minOccurs="0" name="houseUse" type="xs:boolean"/>
			<xs:element minOccurs="0" name="dayType" type="xs:boolean"/>
			<xs:element minOccurs="0" name="discount" type="xs:boolean"/>
			<xs:element minOccurs="0" name="packageTxnCode" type="xs:string"/>
			<xs:element minOccurs="0" name="RateDetails" type="RateDetails"/>
			<xs:element minOccurs="0" name="gdsAllowed" type="xs:boolean"/>
			<xs:element minOccurs="0" name="RatePackages" type="RatePackages"/>
			<xs:element minOccurs="0" name="minOccupancy" type="xs:int"/>
			<xs:element minOccurs="0" name="maxOccupancy" type="xs:int"/>
			<xs:element minOccurs="0" name="regionalAvailability" type="xs:boolean"/>
			<xs:element minOccurs="0" name="channelRestriction" type="xs:boolean"/>
			<xs:element minOccurs="0" name="channelRateUpdate" type="xs:boolean"/>
			<xs:element minOccurs="0" name="dailyRate" type="xs:boolean"/>
			<xs:element minOccurs="0" name="groupCode" type="xs:string"/>
			<xs:element minOccurs="0" name="rateLevel" type="xs:int"/>
			<xs:element minOccurs="0" name="rod" type="xs:boolean"/>
			<xs:element minOccurs="0" name="rodBased" type="xs:boolean"/>
			<xs:element minOccurs="0" name="rodBaseFltPct" type="xs:string"/>
			<xs:element minOccurs="0" name="rodBaseRounding" type="xs:string"/>
			<xs:element minOccurs="0" name="rodBaseAmount" type="fixed144"/>
			<xs:element minOccurs="0" name="bbar" type="xs:boolean"/>
			<xs:element minOccurs="0" name="bbarBased" type="xs:boolean"/>
			<xs:element minOccurs="0" name="bbarBaseFltPct" type="xs:string"/>
			<xs:element minOccurs="0" name="bbarBaseRounding" type="xs:string"/>
			<xs:element minOccurs="0" name="bbarBaseAmount" type="fixed144"/>
			<xs:element minOccurs="0" name="dbaseRateCode" type="xs:string"/>
			<xs:element minOccurs="0" name="dbaseFltPct" type="xs:string"/>
			<xs:element minOccurs="0" name="dbaseRounding" type="xs:string"/>
			<xs:element minOccurs="0" name="dbaseAmount" type="fixed144"/>
			<xs:element minOccurs="0" name="dbaseCompare" type="xs:boolean"/>
			<xs:element minOccurs="0" name="RateRoutingInstructions" type="RateRoutingInstructions"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="roomTypeList" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="yieldMarketList" type="xs:string"/>
			<xs:element minOccurs="0" name="mfnUpload" type="xs:boolean"/>
			<xs:element minOccurs="0" name="rateFloor" type="fixed144"/>
			<xs:element minOccurs="0" name="membership" type="xs:boolean"/>
			<xs:element minOccurs="0" name="advBaseRateCode" type="xs:string"/>
			<xs:element minOccurs="0" name="advBaseRounding" type="xs:string"/>
			<xs:element minOccurs="0" name="exchangePostingType" type="xs:string"/>
			<xs:element minOccurs="0" name="bbarCompare" type="xs:boolean"/>
			<xs:element minOccurs="0" name="yieldAs" type="xs:string"/>
			<xs:element minOccurs="0" name="fullDailyRateDetails" type="xs:boolean"/>
			<xs:element minOccurs="0" name="redemption" type="xs:boolean"/>
			<xs:element minOccurs="0" name="apartmentBillingCycle" type="xs:string"/>
			<xs:element minOccurs="0" name="RateTransactionCodes" type="RateTransactionCodes"/>
			<xs:element minOccurs="0" name="advBaseCompare" type="xs:boolean"/>
			<xs:element minOccurs="0" name="RateDescriptions" type="RateDescriptions"/>
			<xs:element minOccurs="0" name="defaultToHighestBar" type="xs:boolean"/>
			<xs:element minOccurs="0" name="repeatPostingRhythm" type="xs:boolean"/>
			<xs:element minOccurs="0" name="discountRateAmount" type="fixed144"/>
			<xs:element minOccurs="0" name="discountRatePercentage" type="xs:boolean"/>
			<xs:element minOccurs="0" name="postingRhythmNights" type="xs:int"/>
			<xs:element minOccurs="0" name="advDailyRate" type="xs:boolean"/>
			<xs:element minOccurs="0" name="advDailyBase" type="xs:boolean"/>
			<xs:element minOccurs="0" name="privileged" type="xs:boolean"/>
			<xs:element minOccurs="0" name="privilegedRestriction" type="xs:boolean"/>
			<xs:element minOccurs="0" name="voucherBenefitRate" type="xs:boolean"/>
			<xs:element minOccurs="0" name="occupancyBased" type="xs:boolean"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="rateStatus" type="rateStatus" use="required"/>
		<xs:attribute name="taxIncluded" type="taxIncluded" use="optional"/>
		<xs:attribute name="yieldStatus" type="yieldStatus" use="optional"/>
		<xs:attribute name="sellSequence" type="xs:int" use="optional"/>
		<xs:attribute name="rateMessageType" type="rateMessageType" use="required"/>
	</xs:complexType>
	<xs:simpleType name="fixed144">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="14"/>
			<xs:fractionDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rateStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACTIVE"/>
			<xs:enumeration value="INACTIVE"/>
			<xs:enumeration value="UNLOCK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="taxIncluded">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="YES"/>
			<xs:enumeration value="NO"/>
			<xs:enumeration value="MIXED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="yieldStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE"/>
			<xs:enumeration value="FULLY"/>
			<xs:enumeration value="STAY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rateMessageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HEADER"/>
			<xs:enumeration value="HEADERWITHDETAIL"/>
			<xs:enumeration value="DETAIL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RateCategory">
		<xs:sequence>
			<xs:element minOccurs="0" name="catDescription" type="xs:string"/>
			<xs:element minOccurs="0" name="category" type="xs:string"/>
			<xs:element minOccurs="0" name="rateClass" type="xs:string"/>
			<xs:element minOccurs="0" name="startDate" type="xs:date"/>
			<xs:element minOccurs="0" name="endDate" type="xs:date"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RateDetails">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="RateDetail" type="RateDetail"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RateDetail">
		<xs:sequence>
			<xs:element name="rateCode" type="xs:string"/>
			<xs:element name="startDate" type="xs:date"/>
			<xs:element name="endDate" type="xs:date"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="roomTypeList" type="xs:string"/>
			<xs:element minOccurs="0" name="marketCode" type="xs:string"/>
			<xs:element minOccurs="0" name="sourceCode" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="packages" type="xs:string"/>
			<xs:element minOccurs="0" name="rate1" type="fixed144"/>
			<xs:element minOccurs="0" name="rate2" type="fixed144"/>
			<xs:element minOccurs="0" name="rate3" type="fixed144"/>
			<xs:element minOccurs="0" name="rate4" type="fixed144"/>
			<xs:element minOccurs="0" name="rate5" type="fixed144"/>
			<xs:element minOccurs="0" name="weekendRate1" type="fixed144"/>
			<xs:element minOccurs="0" name="weekendRate2" type="fixed144"/>
			<xs:element minOccurs="0" name="weekendRate3" type="fixed144"/>
			<xs:element minOccurs="0" name="weekendRate4" type="fixed144"/>
			<xs:element minOccurs="0" name="weekendRate5" type="fixed144"/>
			<xs:element minOccurs="0" name="child" type="fixed144"/>
			<xs:element minOccurs="0" name="weekendChild" type="fixed144"/>
			<xs:element minOccurs="0" name="child1RateParentRoom" type="fixed144"/>
			<xs:element minOccurs="0" name="child2RateParentRoom" type="fixed144"/>
			<xs:element minOccurs="0" name="child3RateParentRoom" type="fixed144"/>
			<xs:element minOccurs="0" name="child1RateOwnRoom" type="fixed144"/>
			<xs:element minOccurs="0" name="child2RateOwnRoom" type="fixed144"/>
			<xs:element minOccurs="0" name="child3RateOwnRoom" type="fixed144"/>
			<xs:element minOccurs="0" name="child4RateOwnRoom" type="fixed144"/>
			<xs:element minOccurs="0" name="crib" type="fixed144"/>
			<xs:element minOccurs="0" name="weekendCrib" type="fixed144"/>
			<xs:element minOccurs="0" name="extraBed" type="fixed144"/>
			<xs:element minOccurs="0" name="weekendExtraBed" type="fixed144"/>
			<xs:element minOccurs="0" name="stayAdjustment" type="fixed144"/>
			<xs:element minOccurs="0" name="personAdjustment" type="fixed144"/>
			<xs:element minOccurs="0" name="nightAdjustment" type="fixed144"/>
			<xs:element minOccurs="0" name="RateDaysOfWeek" type="RateDaysOfWeek"/>
			<xs:element minOccurs="0" name="tierMinLos" type="xs:int"/>
			<xs:element minOccurs="0" name="tierMaxLos" type="xs:int"/>
			<xs:element minOccurs="0" name="YieldAdjustments" type="YieldAdjustments"/>
			<xs:element minOccurs="0" name="rateSetId" type="xs:int"/>
			<xs:element minOccurs="0" name="externalRateSetId" type="xs:int"/>
			<xs:element minOccurs="0" name="payingChildren" type="xs:int"/>
			<xs:element minOccurs="0" name="freeChildren" type="xs:int"/>
			<xs:element minOccurs="0" name="adultsThreshold" type="xs:int"/>
			<xs:element minOccurs="0" name="childrenThreshold" type="xs:int"/>
			<xs:element minOccurs="0" name="occupantsThreshold" type="xs:int"/>
			<xs:element minOccurs="0" name="adultsThresholdCharge" type="fixed144"/>
			<xs:element minOccurs="0" name="childrenThresholdCharge" type="fixed144"/>
			<xs:element minOccurs="0" name="occupantsThresholdCharge" type="fixed144"/>
			<xs:element minOccurs="0" name="advBaseFltPct" type="xs:string"/>
			<xs:element minOccurs="0" name="advBaseAmount" type="fixed144"/>
			<xs:element minOccurs="0" name="points" type="xs:int"/>
			<xs:element minOccurs="0" name="childExcThreshold1" type="xs:boolean"/>
			<xs:element minOccurs="0" name="childExcThreshold2" type="xs:boolean"/>
			<xs:element minOccurs="0" name="childExcThreshold3" type="xs:boolean"/>
			<xs:element minOccurs="0" name="bar" type="xs:boolean"/>
			<xs:element minOccurs="0" name="barAmount" type="fixed144"/>
			<xs:element minOccurs="0" name="barFltPct" type="xs:string"/>
			<xs:element minOccurs="0" name="barRounding" type="xs:string"/>
			<xs:element minOccurs="0" name="minimumRate1" type="fixed144"/>
			<xs:element minOccurs="0" name="minimumRate2" type="fixed144"/>
			<xs:element minOccurs="0" name="maximumRate1" type="fixed144"/>
			<xs:element minOccurs="0" name="maximumRate2" type="fixed144"/>
			<xs:element minOccurs="0" name="advDailyBaseRateCode" type="xs:string"/>
			<xs:element minOccurs="0" name="advBaseCompare" type="xs:boolean"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RateDaysOfWeek">
		<xs:sequence>
			<xs:element name="monday" type="xs:boolean"/>
			<xs:element name="tuesday" type="xs:boolean"/>
			<xs:element name="wednesday" type="xs:boolean"/>
			<xs:element name="thursday" type="xs:boolean"/>
			<xs:element name="friday" type="xs:boolean"/>
			<xs:element name="saturday" type="xs:boolean"/>
			<xs:element name="sunday" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="YieldAdjustments">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Adjustment" type="Adjustment"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Adjustment">
		<xs:sequence>
			<xs:element minOccurs="0" name="adjustmentCode" type="xs:string"/>
			<xs:element minOccurs="0" name="AdjustmentAmount" type="AdjustmentAmount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdjustmentAmount">
		<xs:sequence>
			<xs:element minOccurs="0" name="valueNum" type="fixed144"/>
		</xs:sequence>
		<xs:attribute name="currencyCode" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RatePackages">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="RatePackage" type="RatePackage"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RatePackage">
		<xs:sequence>
			<xs:element minOccurs="0" ref="packages:Package"/>
			<xs:element minOccurs="0" name="quantityIncluded" type="fixed144"/>
			<xs:element minOccurs="0" name="packageGroup" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RateRoutingInstructions">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="RateRoutingInstruction" type="RateRoutingInstruction"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RateRoutingInstruction">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="profileType" type="xs:string" use="required"/>
		<xs:attribute name="transactionCode" type="xs:string" use="optional"/>
		<xs:attribute name="routingCode" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RateTransactionCodes">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="RateTransactionCode" type="RateTransactionCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RateTransactionCode">
		<xs:sequence>
			<xs:element minOccurs="0" name="entityType" type="xs:string"/>
			<xs:element minOccurs="0" name="entityValue" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="transactionCode" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RateDescriptions">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="RateDescription" type="RateDescription"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RateDescription">
		<xs:sequence>
			<xs:element name="languageID" type="xs:string"/>
			<xs:element minOccurs="0" name="description" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
