OriginalBW5Project/SharedResources/Schemas/OXI/rate.fidelio.2.0.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.2.7. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns = "rate.fidelio.2.0"
	 targetNamespace = "rate.fidelio.2.0"
	 xmlns:xs = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<xs:element name = "RateHeader" type = "RateHeader">
		<xs:annotation>
			<xs:documentation>RateHeader schema</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name = "RateHeader">
		<xs:sequence>
			<xs:element name = "hotelCode" type = "xs:string"/>
			<xs:element name = "chainCode" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "rateClass" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "RateCategory" type = "RateCategory" minOccurs = "0"/>
			<xs:element name = "rateCode" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "startSell" type = "xs:date" minOccurs = "0"/>
			<xs:element name = "endSell" type = "xs:date" minOccurs = "0"/>
			<xs:element name = "advancedBookingDays" type = "xs:int" minOccurs = "0"/>
			<xs:element name = "displayText" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "folioText" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "longInfo" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "shortInfo" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "weekendDays" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "closedToArrivalDays" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "minLos" type = "xs:int" minOccurs = "0"/>
			<xs:element name = "maxLos" type = "xs:int" minOccurs = "0"/>
			<xs:element name = "rhythm" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "packages" type = "xs:string" minOccurs = "0" maxOccurs = "unbounded"/>
			<xs:element name = "marketCode" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "sourceCode" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "commissionCode" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "commission" type = "xs:float" minOccurs = "0"/>
			<xs:element name = "foreignCurrencyDepartmentCode" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "departmentCode" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "weekendDepartmentCode" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "currencyFix" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "confidential" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "printRate" type = "xs:boolean" minOccurs = "0"/>
			<xs:element name = "baseRateCode" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "baseAmount" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "basePercent" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "baseRounding" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "negotiated" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "dayUse" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "complimentary" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "houseUse" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "RateDetails" type = "RateDetails" minOccurs = "0"/>
		</xs:sequence>
		<xs:attribute name = "mfInactiveDate" type = "xs:dateTime"/>
		<xs:attribute name = "rateStatus" use = "required" type = "rateStatus"/>
		<xs:attribute name = "taxIncluded" type = "taxIncluded"/>
		<xs:attribute name = "yieldStatus" use = "required" type = "yieldStatus"/>
	</xs:complexType>
	<xs:simpleType name = "fixed144">
		<xs:restriction base = "xs:decimal">
			<xs:totalDigits value = "14"/>
			<xs:fractionDigits value = "4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name = "rateStatus">
		<xs:restriction base = "xs:string">
			<xs:enumeration value = "ACTIVE"/>
			<xs:enumeration value = "INACTIVE"/>
			<xs:enumeration value = "UNLOCK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name = "taxIncluded">
		<xs:restriction base = "xs:string">
			<xs:enumeration value = "NA"/>
			<xs:enumeration value = "YES"/>
			<xs:enumeration value = "NO"/>
			<xs:enumeration value = "MIXED"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name = "yieldStatus">
		<xs:restriction base = "xs:string">
			<xs:enumeration value = "NONE"/>
			<xs:enumeration value = "FULLY"/>
			<xs:enumeration value = "STAY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name = "RateCategory">
		<xs:sequence>
			<xs:element name = "catDescription" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "category" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "rateClass" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "startDate" type = "xs:date" minOccurs = "0"/>
			<xs:element name = "endDate" type = "xs:date" minOccurs = "0"/>
		</xs:sequence>
		<xs:attribute name = "mfInactiveDate" type = "xs:dateTime"/>
	</xs:complexType>
	<xs:complexType name = "RateDetails">
		<xs:sequence>
			<xs:element name = "RateDetail" type = "RateDetail" minOccurs = "0" maxOccurs = "unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name = "RateDetail">
		<xs:sequence>
			<xs:element name = "rateCode" type = "xs:string"/>
			<xs:element name = "startDate" type = "xs:date"/>
			<xs:element name = "endDate" type = "xs:date"/>
			<xs:element name = "roomTypeList" type = "xs:string" minOccurs = "0" maxOccurs = "unbounded"/>
			<xs:element name = "marketCode" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "sourceCode" type = "xs:string" minOccurs = "0"/>
			<xs:element name = "packages" type = "xs:string" minOccurs = "0" maxOccurs = "unbounded"/>
			<xs:element name = "rate1" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "rate2" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "rate3" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "rate4" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "rate5" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "weekendRate1" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "weekendRate2" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "weekendRate3" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "weekendRate4" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "weekendRate5" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "child" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "weekendChild" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "child1RateParentRoom" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "child2RateParentRoom" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "child3RateParentRoom" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "child1RateOwnRoom" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "child2RateOwnRoom" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "child3RateOwnRoom" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "child4RateOwnRoom" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "crib" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "weekendCrib" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "extraBed" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "weekendExtraBed" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "stayAdjustment" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "personAdjustment" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "nightAdjustment" type = "fixed144" minOccurs = "0"/>
			<xs:element name = "RateDaysOfWeek" type = "RateDaysOfWeek" minOccurs = "0"/>
		</xs:sequence>
		<xs:attribute name = "mfInactiveDate" type = "xs:dateTime"/>
	</xs:complexType>
	<xs:complexType name = "RateDaysOfWeek">
		<xs:sequence>
			<xs:element name = "monday" type = "xs:boolean"/>
			<xs:element name = "tuesday" type = "xs:boolean"/>
			<xs:element name = "wednesday" type = "xs:boolean"/>
			<xs:element name = "thursday" type = "xs:boolean"/>
			<xs:element name = "friday" type = "xs:boolean"/>
			<xs:element name = "saturday" type = "xs:boolean"/>
			<xs:element name = "sunday" type = "xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
