OriginalBW5Project/SharedResources/Schemas/OXI/reservation.fidelio.5.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="reservation.fidelio.5.0" xmlns:ecertificate="ecertificate.fidelio.1.0" xmlns:profile="profile.fidelio.5.0" xmlns:relationship="relationship.fidelio.3.0" xmlns:udf="udf.fidelio.2.0" xmlns:udfdefinition="udfdefinition.fidelio.2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="reservation.fidelio.5.0">
	<xs:import namespace="profile.fidelio.5.0" schemaLocation="profile.fidelio.5.0.xsd"/>
	<xs:import namespace="udf.fidelio.2.0" schemaLocation="udf.fidelio.2.0.xsd"/>
	<xs:import namespace="udfdefinition.fidelio.2.0" schemaLocation="udfdefinition.fidelio.2.0.xsd"/>
	<xs:import namespace="relationship.fidelio.3.0" schemaLocation="relationship.fidelio.3.0.xsd"/>
	<xs:import namespace="ecertificate.fidelio.1.0" schemaLocation="ecertificate.fidelio.1.0.xsd"/>
	<xs:element name="Reservation" type="Reservation">
		<xs:annotation>
			<xs:documentation>Reservation schema</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="Reservation">
		<xs:sequence>
			<xs:element name="HotelReference" type="HotelReference"/>
			<xs:element minOccurs="0" name="roomStayReservation" type="xs:boolean"/>
			<xs:element minOccurs="0" name="confirmationID" type="xs:string"/>
			<xs:element minOccurs="0" name="reservationID" type="xs:string"/>
			<xs:element minOccurs="0" name="reservationOriginatorCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfLegNumbers" type="xs:string"/>
			<xs:element minOccurs="0" name="originalBookingDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="cancellationID" type="xs:string"/>
			<xs:element minOccurs="0" name="cancelOriginatorCode" type="xs:string"/>
			<xs:element minOccurs="0" name="cancellationDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="StayDateRange" type="StayDateRange"/>
			<xs:element minOccurs="0" name="GuestCounts" type="GuestCounts"/>
			<xs:element minOccurs="0" name="ResComments" type="ResComments"/>
			<xs:element minOccurs="0" name="ResCreditCards" type="ResCreditCards"/>
			<xs:element minOccurs="0" name="ResGuests" type="ResGuests"/>
			<xs:element minOccurs="0" name="ResProfiles" type="ResProfiles"/>
			<xs:element minOccurs="0" name="RoomStays" type="RoomStays"/>
			<xs:element minOccurs="0" name="SelectedMemberships" type="SelectedMemberships"/>
			<xs:element minOccurs="0" name="AnticipatedSettlements" type="AnticipatedSettlements"/>
			<xs:element minOccurs="0" name="SpecialRequests" type="SpecialRequests"/>
			<xs:element minOccurs="0" name="Services" type="Services"/>
			<xs:element minOccurs="0" name="OriginalRoutingHops" type="OriginalRoutingHops"/>
			<xs:element minOccurs="0" name="resCommentRPHs" type="xs:string"/>
			<xs:element minOccurs="0" name="resProfileRPHs" type="xs:string"/>
			<xs:element minOccurs="0" name="specialRequestRPHs" type="xs:string"/>
			<xs:element minOccurs="0" name="serviceRPHs" type="xs:string"/>
			<xs:element minOccurs="0" name="mfcancellationComment" type="xs:string"/>
			<xs:element minOccurs="0" name="mfupdateDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="mfcomplementary" type="xs:boolean"/>
			<xs:element minOccurs="0" name="mfImage" type="mfImage"/>
			<xs:element minOccurs="0" name="mfHurdleRate" type="xs:float"/>
			<xs:element minOccurs="0" name="mfYieldable" type="xs:string"/>
			<xs:element minOccurs="0" name="Udfs" type="Udfs"/>
			<xs:element minOccurs="0" name="mfCancellationCode" type="xs:string"/>
			<xs:element minOccurs="0" name="RateServices" type="RateServices"/>
		</xs:sequence>
		<xs:attribute name="mfShareAction" type="mfShareAction" use="optional"/>
		<xs:attribute name="mfOtherShareAction" type="xs:string" use="optional"/>
		<xs:attribute name="mfReservationAction" type="mfReservationAction" use="optional"/>
		<xs:attribute name="mfOtherReservationAction" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="mfShareAction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="ADD"/>
			<xs:enumeration value="BREAK"/>
			<xs:enumeration value="COMBINE"/>
			<xs:enumeration value="OTHER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="mfReservationAction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="SPLIT"/>
			<xs:enumeration value="CANCEL"/>
			<xs:enumeration value="REINSTATE"/>
			<xs:enumeration value="CHECKIN"/>
			<xs:enumeration value="SHARE"/>
			<xs:enumeration value="NEWADDRESS"/>
			<xs:enumeration value="ROOMASSIGN"/>
			<xs:enumeration value="TYPEASSIGN"/>
			<xs:enumeration value="WAITLIST"/>
			<xs:enumeration value="WAITLISTTOACTIVE"/>
			<xs:enumeration value="EDIT"/>
			<xs:enumeration value="ADD"/>
			<xs:enumeration value="DELETE"/>
			<xs:enumeration value="NOSHOW"/>
			<xs:enumeration value="GROUPCHANGE"/>
			<xs:enumeration value="ROOMMOVE"/>
			<xs:enumeration value="PACKAGE"/>
			<xs:enumeration value="CNXCHECKIN"/>
			<xs:enumeration value="SYNCH"/>
			<xs:enumeration value="CHANGESHARENUM"/>
			<xs:enumeration value="CHECKOUT"/>
			<xs:enumeration value="OTHER"/>
			<xs:enumeration value="ENROLLMENTRQ"/>
			<xs:enumeration value="ENROLLMENT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="HotelReference">
		<xs:sequence>
			<xs:element minOccurs="0" name="chainCode" type="xs:string"/>
			<xs:element name="hotelCode" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StayDateRange">
		<xs:sequence>
			<xs:element minOccurs="0" name="startTime" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="numberOfTimeUnits" type="xs:int"/>
		</xs:sequence>
		<xs:attribute default="DAY" name="timeUnitType" type="timeUnitType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="timeUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="YEAR"/>
			<xs:enumeration value="MONTH"/>
			<xs:enumeration value="WEEK"/>
			<xs:enumeration value="DAY"/>
			<xs:enumeration value="HOUR"/>
			<xs:enumeration value="MINUTE"/>
			<xs:enumeration value="SECOND"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GuestCounts">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="GuestCount" type="GuestCount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GuestCount">
		<xs:sequence>
			<xs:element minOccurs="0" name="ageQualifyingCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfCount" type="xs:int"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ResComments">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="ResComment" type="ResComment"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResComment">
		<xs:sequence>
			<xs:element minOccurs="0" name="resCommentRPH" type="xs:unsignedInt"/>
			<xs:element minOccurs="0" name="commentOriginatorCode" type="xs:string"/>
			<xs:element minOccurs="0" name="guestViewable" type="xs:boolean"/>
			<xs:element minOccurs="0" name="comment" type="xs:string"/>
			<xs:element minOccurs="0" name="mfcommentType" type="xs:string"/>
			<xs:element minOccurs="0" name="mfcommentDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="resolved" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="resolvedUser" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="reservationActionType" type="reservationActionType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="reservationActionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="NEW"/>
			<xs:enumeration value="CHANGE"/>
			<xs:enumeration value="DELETE"/>
			<xs:enumeration value="SYNC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ResCreditCards">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="ResCreditCard" type="ResCreditCard"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResCreditCard">
		<xs:sequence>
			<xs:element minOccurs="0" ref="profile:CreditCard"/>
			<xs:element minOccurs="0" name="resCreditCardRPH" type="xs:unsignedInt"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="reservationActionType" type="reservationActionType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ResGuests">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="ResGuest" type="ResGuest"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResGuest">
		<xs:sequence>
			<xs:element minOccurs="0" name="resGuestRPH" type="xs:unsignedInt"/>
			<xs:element minOccurs="0" name="profileRPHs" type="xs:string"/>
			<xs:element minOccurs="0" name="specialRequestRPHs" type="xs:string"/>
			<xs:element minOccurs="0" name="resCommentRPHs" type="xs:string"/>
			<xs:element minOccurs="0" name="serviceRPHs" type="xs:string"/>
			<xs:element minOccurs="0" name="ageQualifyingCode" type="xs:string"/>
			<xs:element minOccurs="0" name="InHouseTimeSpan" type="InHouseTimeSpan"/>
			<xs:element minOccurs="0" name="ArrivalTransport" type="ArrivalTransport"/>
			<xs:element minOccurs="0" name="DepartureTransport" type="DepartureTransport"/>
			<xs:element minOccurs="0" name="arrivalTime" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="departureTime" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="groupEventCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfCRSShareID" type="xs:float"/>
			<xs:element minOccurs="0" name="mfShareRateCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfShareRateAmount" type="fixed144"/>
			<xs:element minOccurs="0" name="ShareGuestCounts" type="ShareGuestCounts"/>
			<xs:element minOccurs="0" name="reservationID" type="xs:string"/>
			<xs:element minOccurs="0" name="confirmationID" type="xs:string"/>
			<xs:element minOccurs="0" name="mfConfirmationLegNo" type="xs:int"/>
			<xs:element minOccurs="0" name="ReservationReferences" type="ReservationReferences"/>
			<xs:element minOccurs="0" name="ReservationAwards" type="ReservationAwards"/>
			<xs:element minOccurs="0" name="ReservationChildAges" type="ReservationChildAges"/>
			<xs:element minOccurs="0" name="preRegistered" type="xs:boolean"/>
			<xs:element minOccurs="0" name="reviewed" type="xs:boolean"/>
			<xs:element minOccurs="0" name="commissionPaidTo" type="xs:string"/>
			<xs:element minOccurs="0" name="yieldMarketType" type="xs:string"/>
			<xs:element minOccurs="0" name="nameTaxType" type="xs:string"/>
			<xs:element minOccurs="0" name="PaymentWindows" type="PaymentWindows"/>
			<xs:element minOccurs="0" name="taxExemptNo" type="xs:string"/>
			<xs:element minOccurs="0" name="ReservationCertificates" type="ReservationCertificates"/>
			<xs:element minOccurs="0" name="primarySharer" type="xs:boolean"/>
			<xs:element minOccurs="0" name="ReservationAwardMember" type="ReservationAwardMember"/>
			<xs:element minOccurs="0" name="purposeOfStay" type="xs:string"/>
			<xs:element minOccurs="0" name="DailyProfileLinks" type="DailyProfileLinks"/>
			<xs:element minOccurs="0" name="customerValue" type="xs:string"/>
			<xs:element minOccurs="0" name="baseRateAmount" type="fixed144"/>
			<xs:element minOccurs="0" name="baseRateCurrency" type="xs:string"/>
			<xs:element minOccurs="0" name="baseRateCode" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="reservationActionType" type="reservationActionType" use="optional"/>
		<xs:attribute name="reservationStatusType" type="reservationStatusType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="fixed144">
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="14"/>
			<xs:fractionDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="reservationStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="RESERVED"/>
			<xs:enumeration value="REQUESTED"/>
			<xs:enumeration value="REQUESTDENIED"/>
			<xs:enumeration value="NOSHOW"/>
			<xs:enumeration value="CANCELED"/>
			<xs:enumeration value="LEGCANCELED"/>
			<xs:enumeration value="INHOUSE"/>
			<xs:enumeration value="CHECKEDOUT"/>
			<xs:enumeration value="WAITLISTED"/>
			<xs:enumeration value="WAITLISTTOACTIVE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="InHouseTimeSpan">
		<xs:sequence>
			<xs:element minOccurs="0" name="startTime" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="numberOfTimeUnits" type="xs:int"/>
		</xs:sequence>
		<xs:attribute default="DAY" name="timeUnitType" type="timeUnitType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ArrivalTransport">
		<xs:sequence>
			<xs:element minOccurs="0" name="transportID" type="xs:string"/>
			<xs:element minOccurs="0" name="locationCode" type="xs:string"/>
			<xs:element minOccurs="0" name="transportTime" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="mftransportRequired" type="xs:boolean"/>
			<xs:element minOccurs="0" name="transportComment" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="transportType" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="DepartureTransport">
		<xs:sequence>
			<xs:element minOccurs="0" name="transportID" type="xs:string"/>
			<xs:element minOccurs="0" name="locationCode" type="xs:string"/>
			<xs:element minOccurs="0" name="transportTime" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="mftransportRequired" type="xs:boolean"/>
			<xs:element minOccurs="0" name="transportComment" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="transportType" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ShareGuestCounts">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="GuestCount" type="GuestCount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReservationReferences">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ReservationReference" type="ReservationReference"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReservationReference">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" use="optional"/>
		<xs:attribute name="referenceNumber" type="xs:string" use="optional"/>
		<xs:attribute name="legNumber" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ReservationAwards">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ReservationAward" type="ReservationAward"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReservationAward">
		<xs:sequence>
			<xs:element minOccurs="0" name="TimeSpan" type="TimeSpan"/>
			<xs:element minOccurs="0" name="awardType" type="xs:string"/>
			<xs:element minOccurs="0" name="awardNumber" type="xs:string"/>
			<xs:element minOccurs="0" name="programCode" type="xs:string"/>
			<xs:element minOccurs="0" name="awardStatus" type="xs:string"/>
			<xs:element minOccurs="0" name="dateAwarded" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="consumptionDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="pointsRequired" type="fixed144"/>
			<xs:element minOccurs="0" name="ratePlanCode" type="xs:string"/>
			<xs:element minOccurs="0" name="roomInventoryCode" type="xs:string"/>
			<xs:element minOccurs="0" name="fromRoomLabel" type="xs:string"/>
			<xs:element minOccurs="0" name="toRoomLabel" type="xs:string"/>
			<xs:element minOccurs="0" name="awardCancellationNo" type="fixed144"/>
			<xs:element minOccurs="0" name="awardCancelDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="cancelPolicyType" type="xs:string"/>
			<xs:element minOccurs="0" name="cancelPenaltyPoints" type="xs:int"/>
			<xs:element minOccurs="0" name="cancelPenaltyDays" type="xs:int"/>
			<xs:element minOccurs="0" name="numberOfNights" type="xs:int"/>
			<xs:element minOccurs="0" name="actualCancelPoints" type="xs:int"/>
			<xs:element minOccurs="0" name="cancellable" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TimeSpan">
		<xs:sequence>
			<xs:element minOccurs="0" name="startTime" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="numberOfTimeUnits" type="xs:int"/>
		</xs:sequence>
		<xs:attribute default="DAY" name="timeUnitType" type="timeUnitType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ReservationChildAges">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ReservationChildAge" type="ReservationChildAge"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReservationChildAge">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="childAge" type="xs:int" use="optional"/>
	</xs:complexType>
	<xs:complexType name="PaymentWindows">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="PaymentWindow" type="PaymentWindow"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentWindow">
		<xs:sequence>
			<xs:element name="mfPaymentMethod" type="xs:string"/>
			<xs:element name="amountOrPercent" type="fixed144"/>
			<xs:element minOccurs="0" ref="profile:CreditCard"/>
			<xs:element name="verifyResponse" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="folio" type="xs:string" use="optional"/>
		<xs:attribute name="approvalCalculation" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ReservationCertificates">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="ecertificate:ECertificate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReservationAwardMember">
		<xs:sequence>
			<xs:element minOccurs="0" name="programCode" type="xs:string"/>
			<xs:element minOccurs="0" name="accountID" type="xs:string"/>
			<xs:element minOccurs="0" name="profileID" type="xs:string"/>
			<xs:element minOccurs="0" name="mfResortProfileID" type="xs:string"/>
			<xs:element minOccurs="0" name="profileRPHs" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DailyProfileLinks">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="DailyProfileLink" type="DailyProfileLink"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DailyProfileLink">
		<xs:sequence>
			<xs:element minOccurs="0" name="beginDate" type="xs:date"/>
			<xs:element minOccurs="0" name="endDate" type="xs:date"/>
		</xs:sequence>
		<xs:attribute name="companyRPH" type="xs:unsignedInt" use="optional"/>
		<xs:attribute name="travelAgentRPH" type="xs:unsignedInt" use="optional"/>
		<xs:attribute name="wholesalerRPH" type="xs:unsignedInt" use="optional"/>
		<xs:attribute name="groupRPH" type="xs:unsignedInt" use="optional"/>
		<xs:attribute name="billingContactRPH" type="xs:unsignedInt" use="optional"/>
		<xs:attribute name="reservationContactRPH" type="xs:unsignedInt" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ResProfiles">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="ResProfile" type="ResProfile"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResProfile">
		<xs:sequence>
			<xs:element minOccurs="0" ref="profile:Profile"/>
			<xs:element minOccurs="0" name="resProfileRPH" type="xs:unsignedInt"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RoomStays">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="RoomStay" type="RoomStay"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoomStay">
		<xs:sequence>
			<xs:element minOccurs="0" name="roomStayRPH" type="xs:unsignedInt"/>
			<xs:element minOccurs="0" name="roomInventoryCode" type="xs:string"/>
			<xs:element minOccurs="0" name="roomID" type="xs:string"/>
			<xs:element minOccurs="0" name="TimeSpan" type="TimeSpan"/>
			<xs:element minOccurs="0" name="GuestCounts" type="GuestCounts"/>
			<xs:element minOccurs="0" name="RatePlans" type="RatePlans"/>
			<xs:element minOccurs="0" name="anticipatedSettlementRPHs" type="xs:string"/>
			<xs:element minOccurs="0" name="inventoryBlockCode" type="xs:string"/>
			<xs:element minOccurs="0" name="marketSegmentCode" type="xs:string"/>
			<xs:element minOccurs="0" name="promotionCode" type="xs:string"/>
			<xs:element minOccurs="0" name="tACommissionPlanCode" type="xs:string"/>
			<xs:element minOccurs="0" name="resGuestRPHs" type="xs:string"/>
			<xs:element minOccurs="0" name="selectedMembershipRPHs" type="xs:string"/>
			<xs:element minOccurs="0" name="resCommentRPHs" type="xs:string"/>
			<xs:element minOccurs="0" name="specialRequestRPHs" type="xs:string"/>
			<xs:element minOccurs="0" name="serviceRPHs" type="xs:string"/>
			<xs:element minOccurs="0" name="GuaranteeInfo" type="GuaranteeInfo"/>
			<xs:element minOccurs="0" name="CancelPenalties" type="CancelPenalties"/>
			<xs:element minOccurs="0" name="PaymentInstructions" type="PaymentInstructions"/>
			<xs:element minOccurs="0" name="mfcomplementaryCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfsourceCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfshareCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfchannelCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfdiscountReason" type="xs:string"/>
			<xs:element minOccurs="0" name="mfDiscountAmount" type="fixed144"/>
			<xs:element minOccurs="0" name="mfconfidentialRate" type="xs:boolean"/>
			<xs:element minOccurs="0" name="mfsharedGuestRPHs" type="xs:string"/>
			<xs:element minOccurs="0" name="ReservationTraces" type="ReservationTraces"/>
			<xs:element minOccurs="0" name="ReservationAlerts" type="ReservationAlerts"/>
			<xs:element minOccurs="0" name="Discount" type="Discount"/>
			<xs:element minOccurs="0" name="InventoryItems" type="InventoryItems"/>
			<xs:element minOccurs="0" name="RouteToProfiles" type="RouteToProfiles"/>
			<xs:element minOccurs="0" name="RouteToReservations" type="RouteToReservations"/>
			<xs:element minOccurs="0" name="ConnectedReservations" type="ConnectedReservations"/>
			<xs:element minOccurs="0" name="waitlistPriority" type="xs:string"/>
			<xs:element minOccurs="0" name="waitlistReasonCode" type="xs:string"/>
			<xs:element minOccurs="0" name="waitlistReasonDescription" type="xs:string"/>
			<xs:element minOccurs="0" name="waitlistTelephone" type="xs:string"/>
			<xs:element minOccurs="0" name="ReservationFixedCharges" type="ReservationFixedCharges"/>
			<xs:element minOccurs="0" name="mfAsbProrated" type="xs:boolean"/>
			<xs:element minOccurs="0" name="upsold" type="xs:boolean"/>
			<xs:element minOccurs="0" name="upsellOriginalRoomType" type="xs:string"/>
			<xs:element minOccurs="0" name="upsellOriginalTotalAmount" type="fixed144"/>
			<xs:element minOccurs="0" name="upsellRuleCode" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="mfShareAction" type="mfShareAction" use="optional"/>
		<xs:attribute name="mfReservationAction" type="mfReservationAction" use="optional"/>
		<xs:attribute name="shareRateCalculation" type="shareRateCalculation" use="optional"/>
		<xs:attribute name="reservationActionType" type="reservationActionType" use="optional"/>
		<xs:attribute name="reservationStatusType" type="reservationStatusType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="shareRateCalculation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="ENTIRE"/>
			<xs:enumeration value="FULL"/>
			<xs:enumeration value="SPLIT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RatePlans">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="RatePlan" type="RatePlan"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RatePlan">
		<xs:sequence>
			<xs:element minOccurs="0" name="ratePlanRPH" type="xs:unsignedInt"/>
			<xs:element minOccurs="0" name="ratePlanCode" type="xs:string"/>
			<xs:element minOccurs="0" name="TimeSpan" type="TimeSpan"/>
			<xs:element minOccurs="0" name="mfMarketCode" type="xs:string"/>
			<xs:element minOccurs="0" name="Rates" type="Rates"/>
			<xs:element minOccurs="0" name="mfsourceCode" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="reservationActionType" type="reservationActionType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Rates">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="Rate" type="Rate"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Rate">
		<xs:sequence>
			<xs:element minOccurs="0" name="rateRPH" type="xs:unsignedInt"/>
			<xs:element minOccurs="0" name="Amount" type="Amount"/>
			<xs:element minOccurs="0" name="amountGuaranteed" type="xs:boolean"/>
			<xs:element minOccurs="0" name="rateBasisUnits" type="xs:int"/>
			<xs:element minOccurs="0" name="TimeSpan" type="TimeSpan"/>
			<xs:element minOccurs="0" name="mfAdults" type="xs:int"/>
			<xs:element minOccurs="0" name="mfChildren" type="xs:int"/>
			<xs:element minOccurs="0" name="mfCribs" type="xs:int"/>
			<xs:element minOccurs="0" name="mfExtraBeds" type="xs:int"/>
			<xs:element minOccurs="0" name="mfsourceCode" type="xs:string"/>
			<xs:element minOccurs="0" name="mfMarketCode" type="xs:string"/>
			<xs:element minOccurs="0" name="RateAmounts" type="RateAmounts"/>
			<xs:element minOccurs="0" name="Discount" type="Discount"/>
			<xs:element minOccurs="0" name="rateRoomType" type="xs:string"/>
			<xs:element minOccurs="0" name="mfChildren1" type="xs:int"/>
			<xs:element minOccurs="0" name="mfChildren2" type="xs:int"/>
			<xs:element minOccurs="0" name="mfChildren3" type="xs:int"/>
			<xs:element minOccurs="0" name="mfChildren4" type="xs:int"/>
			<xs:element minOccurs="0" name="mfChildren5" type="xs:int"/>
			<xs:element minOccurs="0" name="ReservationChildAges" type="ReservationChildAges"/>
			<xs:element minOccurs="0" name="upsellCharge" type="fixed144"/>
			<xs:element minOccurs="0" name="inventoryBlockCode" type="xs:string"/>
			<xs:element minOccurs="0" name="eligibilityCode" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="reservationActionType" type="reservationActionType" use="optional"/>
		<xs:attribute name="rateBasisTimeUnitType" type="rateBasisTimeUnitType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="rateBasisTimeUnitType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="YEAR"/>
			<xs:enumeration value="MONTH"/>
			<xs:enumeration value="WEEK"/>
			<xs:enumeration value="DAY"/>
			<xs:enumeration value="HOUR"/>
			<xs:enumeration value="MINUTE"/>
			<xs:enumeration value="SECOND"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Amount">
		<xs:sequence>
			<xs:element minOccurs="0" name="valueNum" type="fixed144"/>
		</xs:sequence>
		<xs:attribute name="currencyCode" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RateAmounts">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="RateAmount" type="RateAmount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RateAmount">
		<xs:sequence>
			<xs:element minOccurs="0" name="rateAmountCode" type="xs:string"/>
			<xs:element minOccurs="0" name="Amount" type="Amount"/>
			<xs:element minOccurs="0" name="rateBasisUnits" type="xs:int"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Discount">
		<xs:sequence>
			<xs:element minOccurs="0" name="valueNum" type="fixed144"/>
			<xs:element minOccurs="0" name="mfdiscountReason" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="GuaranteeInfo">
		<xs:sequence>
			<xs:element minOccurs="0" name="mfGuaranteeType" type="xs:string"/>
			<xs:element minOccurs="0" name="dropTime" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="resCreditCardRPH" type="xs:unsignedInt"/>
			<xs:element minOccurs="0" name="resProfileRPH" type="xs:unsignedInt"/>
			<xs:element minOccurs="0" name="GuaranteeDeposit" type="GuaranteeDeposit"/>
		</xs:sequence>
		<xs:attribute name="guaranteeType" type="guaranteeType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="guaranteeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="NOGUARANTEE"/>
			<xs:enumeration value="CCDCVOUCHER"/>
			<xs:enumeration value="PROFILE"/>
			<xs:enumeration value="DEPOSIT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GuaranteeDeposit">
		<xs:sequence>
			<xs:element minOccurs="0" name="dueDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="Amount" type="Amount"/>
			<xs:element minOccurs="0" name="cancelIfNotReceived" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CancelPenalties">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="CancelPenalty" type="CancelPenalty"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CancelPenalty">
		<xs:sequence>
			<xs:element minOccurs="0" name="cancelByDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="Amount" type="Amount"/>
			<xs:element minOccurs="0" name="mfRuleScope" type="xs:string"/>
			<xs:element minOccurs="0" name="mfPercentage" type="fixed144"/>
			<xs:element minOccurs="0" name="mfCancelPercentDue" type="fixed144"/>
			<xs:element minOccurs="0" name="mfCancelRoomNights" type="xs:int"/>
			<xs:element minOccurs="0" name="mfRuleDescription" type="xs:string"/>
			<xs:element minOccurs="0" name="activityDeposit" type="fixed144"/>
			<xs:element minOccurs="0" name="roomDeposit" type="fixed144"/>
			<xs:element minOccurs="0" name="ruleCode" type="xs:string"/>
			<xs:element minOccurs="0" name="ruleId" type="xs:string"/>
			<xs:element minOccurs="0" name="resortRuleId" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="mfRuleType" type="mfRuleType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="mfRuleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CANCEL"/>
			<xs:enumeration value="DEPOSIT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PaymentInstructions">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="PaymentInstruction" type="PaymentInstruction"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentInstruction">
		<xs:sequence>
			<xs:element name="mfPaymentMethod" type="xs:string"/>
			<xs:element minOccurs="0" name="resCreditCardRPH" type="xs:unsignedInt"/>
			<xs:element minOccurs="0" name="PaymentDue" type="PaymentDue"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="paymentMethodType" type="paymentMethodType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="paymentMethodType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="CASH"/>
			<xs:enumeration value="CREDITCARD"/>
			<xs:enumeration value="DEBITCARD"/>
			<xs:enumeration value="VOUCHER"/>
			<xs:enumeration value="CHECK"/>
			<xs:enumeration value="OTHER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PaymentDue">
		<xs:sequence>
			<xs:element minOccurs="0" name="dueDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="Amount" type="Amount"/>
			<xs:element minOccurs="0" name="cancelIfNotReceived" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReservationTraces">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="ReservationTrace" type="ReservationTrace"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReservationTrace">
		<xs:sequence>
			<xs:element minOccurs="0" name="traceDepartment" type="xs:string"/>
			<xs:element minOccurs="0" name="traceDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="traceText" type="xs:string"/>
			<xs:element minOccurs="0" name="resolved" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="resolvedUser" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ReservationAlerts">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="ReservationAlert" type="ReservationAlert"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReservationAlert">
		<xs:sequence>
			<xs:element minOccurs="0" name="hotelCode" type="xs:string"/>
			<xs:element name="alertCode" type="xs:string"/>
			<xs:element minOccurs="0" name="alertDescription" type="xs:string"/>
			<xs:element minOccurs="0" name="alertArea" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="reservationActionType" type="reservationActionType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="InventoryItems">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="InventoryItem" type="InventoryItem"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InventoryItem">
		<xs:sequence>
			<xs:element name="item" type="xs:string"/>
			<xs:element minOccurs="0" name="quantity" type="xs:int"/>
			<xs:element minOccurs="0" name="beginDate" type="xs:date"/>
			<xs:element minOccurs="0" name="endDate" type="xs:date"/>
			<xs:element minOccurs="0" name="rateCode" type="xs:string"/>
			<xs:element minOccurs="0" name="serviceInventoryCode" type="xs:string"/>
			<xs:element minOccurs="0" name="inventoryBlockCode" type="xs:string"/>
			<xs:element minOccurs="0" name="beginDateTime" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="endDateTime" type="xs:dateTime"/>
		</xs:sequence>
		<xs:attribute name="type" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RouteToProfiles">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="RouteToProfile" type="RouteToProfile"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RouteToProfile">
		<xs:sequence>
			<xs:element minOccurs="0" name="beginDate" type="xs:date"/>
			<xs:element minOccurs="0" name="endDate" type="xs:date"/>
			<xs:element minOccurs="0" name="profileID" type="xs:string"/>
			<xs:element minOccurs="0" name="mfResortProfileID" type="xs:string"/>
			<xs:element minOccurs="0" name="creditLimit" type="fixed144"/>
			<xs:element minOccurs="0" name="compCovers" type="fixed144"/>
			<xs:element minOccurs="0" name="routingPercent" type="fixed144"/>
			<xs:element minOccurs="0" name="day1" type="xs:boolean"/>
			<xs:element minOccurs="0" name="day2" type="xs:boolean"/>
			<xs:element minOccurs="0" name="day3" type="xs:boolean"/>
			<xs:element minOccurs="0" name="day4" type="xs:boolean"/>
			<xs:element minOccurs="0" name="day5" type="xs:boolean"/>
			<xs:element minOccurs="0" name="day6" type="xs:boolean"/>
			<xs:element minOccurs="0" name="day7" type="xs:boolean"/>
		</xs:sequence>
		<xs:attribute name="code" type="xs:string" use="optional"/>
		<xs:attribute name="folio" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RouteToReservations">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="RouteToReservation" type="RouteToReservation"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RouteToReservation">
		<xs:sequence>
			<xs:element minOccurs="0" name="beginDate" type="xs:date"/>
			<xs:element minOccurs="0" name="endDate" type="xs:date"/>
			<xs:element minOccurs="0" name="reservationID" type="xs:string"/>
			<xs:element minOccurs="0" name="confirmationID" type="xs:string"/>
			<xs:element minOccurs="0" name="mfConfirmationLegNo" type="xs:int"/>
			<xs:element minOccurs="0" name="creditLimit" type="fixed144"/>
			<xs:element minOccurs="0" name="compCovers" type="fixed144"/>
			<xs:element minOccurs="0" name="routingPercent" type="fixed144"/>
			<xs:element minOccurs="0" name="day1" type="xs:boolean"/>
			<xs:element minOccurs="0" name="day2" type="xs:boolean"/>
			<xs:element minOccurs="0" name="day3" type="xs:boolean"/>
			<xs:element minOccurs="0" name="day4" type="xs:boolean"/>
			<xs:element minOccurs="0" name="day5" type="xs:boolean"/>
			<xs:element minOccurs="0" name="day6" type="xs:boolean"/>
			<xs:element minOccurs="0" name="day7" type="xs:boolean"/>
		</xs:sequence>
		<xs:attribute name="code" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ConnectedReservations">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="AssociatedReservation" type="AssociatedReservation"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AssociatedReservation">
		<xs:sequence>
			<xs:element minOccurs="0" name="reservationID" type="xs:string"/>
			<xs:element minOccurs="0" name="confirmationID" type="xs:string"/>
			<xs:element minOccurs="0" name="mfConfirmationLegNo" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReservationFixedCharges">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ReservationFixedCharge" type="ReservationFixedCharge"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReservationFixedCharge">
		<xs:sequence>
			<xs:element name="transactionCode" type="xs:string"/>
			<xs:element minOccurs="0" name="quantity" type="xs:int"/>
			<xs:element minOccurs="0" name="price" type="fixed144"/>
			<xs:element minOccurs="0" name="frequency" type="xs:string"/>
			<xs:element minOccurs="0" name="beginDate" type="xs:date"/>
			<xs:element minOccurs="0" name="endDate" type="xs:date"/>
			<xs:element minOccurs="0" name="dayToExecute" type="xs:string"/>
			<xs:element minOccurs="0" name="dateToExecute" type="xs:date"/>
			<xs:element minOccurs="0" name="supplement" type="xs:string"/>
			<xs:element minOccurs="0" name="roomNights" type="xs:int"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="SelectedMemberships">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="SelectedMembership" type="SelectedMembership"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SelectedMembership">
		<xs:sequence>
			<xs:element minOccurs="0" name="selectedMembershipRPH" type="xs:unsignedInt"/>
			<xs:element minOccurs="0" name="programCode" type="xs:string"/>
			<xs:element minOccurs="0" name="bonusCode" type="xs:string"/>
			<xs:element minOccurs="0" name="accountID" type="xs:string"/>
			<xs:element minOccurs="0" name="pointsEarned" type="xs:unsignedInt"/>
			<xs:element minOccurs="0" name="mfawardDate" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="mfawardNumber" type="xs:string"/>
			<xs:element minOccurs="0" name="mfprofileIDOnAward" type="xs:string"/>
			<xs:element minOccurs="0" name="mfAmount" type="mfAmount"/>
			<xs:element minOccurs="0" name="mfmembershipCategory" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="reservationActionType" type="reservationActionType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="mfAmount">
		<xs:sequence>
			<xs:element minOccurs="0" name="valueNum" type="fixed144"/>
		</xs:sequence>
		<xs:attribute name="currencyCode" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="AnticipatedSettlements">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="AnticipatedSettlement" type="AnticipatedSettlement"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AnticipatedSettlement">
		<xs:sequence>
			<xs:element minOccurs="0" name="anticipatedSettlementRPH" type="xs:unsignedInt"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="applicableRevenueCodes" type="xs:string"/>
			<xs:element minOccurs="0" name="masterRoomStayRPH" type="xs:unsignedInt"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="reservationActionType" type="reservationActionType" use="optional"/>
		<xs:attribute name="settlementType" type="settlementType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="settlementType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="DIRECTBILL"/>
			<xs:enumeration value="CITYLEDGER"/>
			<xs:enumeration value="BILLTOMASTER"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SpecialRequests">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="SpecialRequest" type="SpecialRequest"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpecialRequest">
		<xs:sequence>
			<xs:element minOccurs="0" name="specialRequestRPH" type="xs:unsignedInt"/>
			<xs:element name="requestCode" type="xs:string"/>
			<xs:element minOccurs="0" name="requestComments" type="xs:string"/>
			<xs:element minOccurs="0" name="mfResort" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="reservationActionType" type="reservationActionType" use="optional"/>
		<xs:attribute default="FEA" name="mfSpecialRequestType" type="mfSpecialRequestType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="mfSpecialRequestType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SPE"/>
			<xs:enumeration value="FEA"/>
			<xs:enumeration value="INT"/>
			<xs:enumeration value="PRS"/>
			<xs:enumeration value="PRV"/>
			<xs:enumeration value="RES"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Services">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="Service" type="Service"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Service">
		<xs:sequence>
			<xs:element minOccurs="0" name="serviceRPH" type="xs:unsignedInt"/>
			<xs:element minOccurs="0" name="anticipatedSettlementRPHs" type="xs:string"/>
			<xs:element minOccurs="0" name="resCommentRPHs" type="xs:string"/>
			<xs:element minOccurs="0" name="selectedMembershipRPHs" type="xs:string"/>
			<xs:element minOccurs="0" name="serviceInventoryCode" type="xs:string"/>
			<xs:element minOccurs="0" name="ratePlanCode" type="xs:string"/>
			<xs:element minOccurs="0" name="inventoryBlockCode" type="xs:string"/>
			<xs:element minOccurs="0" name="TimeSpan" type="TimeSpan"/>
			<xs:element minOccurs="0" name="Price" type="Price"/>
			<xs:element minOccurs="0" name="priceGuaranteed" type="xs:boolean"/>
			<xs:element minOccurs="0" name="inclusive" type="xs:boolean"/>
			<xs:element minOccurs="0" name="quantity" type="xs:int"/>
			<xs:element minOccurs="0" name="GuaranteeInfo" type="GuaranteeInfo"/>
			<xs:element minOccurs="0" name="CancelPenalties" type="CancelPenalties"/>
			<xs:element minOccurs="0" name="PaymentInstructions" type="PaymentInstructions"/>
			<xs:element minOccurs="0" name="GuestCounts" type="GuestCounts"/>
			<xs:element minOccurs="0" name="mfserviceComments" type="xs:string"/>
			<xs:element minOccurs="0" name="ReservationAwards" type="ReservationAwards"/>
			<xs:element minOccurs="0" name="ServicePrices" type="ServicePrices"/>
			<xs:element minOccurs="0" name="serviceGroup" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
		<xs:attribute name="reservationActionType" type="reservationActionType" use="optional"/>
		<xs:attribute name="servicePricingType" type="servicePricingType" use="optional"/>
		<xs:attribute name="reservationStatusType" type="reservationStatusType" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="servicePricingType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NA"/>
			<xs:enumeration value="PERSTAY"/>
			<xs:enumeration value="PERPERSON"/>
			<xs:enumeration value="PERNIGHT"/>
			<xs:enumeration value="PERPERSONPERNIGHT"/>
			<xs:enumeration value="PERUSE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Price">
		<xs:sequence>
			<xs:element minOccurs="0" name="valueNum" type="fixed144"/>
		</xs:sequence>
		<xs:attribute name="currencyCode" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ServicePrices">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="ServicePrice" type="ServicePrice"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServicePrice">
		<xs:sequence>
			<xs:element name="beginDate" type="xs:date"/>
			<xs:element name="endDate" type="xs:date"/>
			<xs:element name="unitPrice" type="fixed144"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginalRoutingHops">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="RoutingHop" type="RoutingHop"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RoutingHop">
		<xs:sequence>
			<xs:element minOccurs="0" name="systemCode" type="xs:string"/>
			<xs:element minOccurs="0" name="objectID" type="xs:string"/>
			<xs:element minOccurs="0" name="timeStamp" type="xs:dateTime"/>
			<xs:element minOccurs="0" name="data" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="mfInactiveDate" type="xs:dateTime" use="optional"/>
	</xs:complexType>
	<xs:complexType name="mfImage">
		<xs:sequence>
			<xs:element minOccurs="0" name="numRooms" type="xs:int"/>
			<xs:element minOccurs="0" name="Describe" type="Describe"/>
			<xs:element minOccurs="0" name="Change" type="Change"/>
			<xs:element minOccurs="0" name="origContact" type="xs:string"/>
			<xs:element minOccurs="0" name="currencyDecimalPositions" type="xs:int"/>
			<xs:element minOccurs="0" name="legNo" type="xs:int"/>
			<xs:element minOccurs="0" name="commission" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Describe">
		<xs:sequence>
			<xs:element minOccurs="0" name="resortName" type="xs:string"/>
			<xs:element minOccurs="0" name="insertUser" type="xs:string"/>
			<xs:element minOccurs="0" name="updateUser" type="xs:string"/>
			<xs:element minOccurs="0" name="roomCategory" type="xs:string"/>
			<xs:element minOccurs="0" name="rateCode" type="xs:string"/>
			<xs:element minOccurs="0" name="marketCode" type="xs:string"/>
			<xs:element minOccurs="0" name="guarantee" type="xs:string"/>
			<xs:element minOccurs="0" name="membership" type="xs:string"/>
			<xs:element minOccurs="0" name="membershipLevel" type="xs:string"/>
			<xs:element minOccurs="0" name="company" type="xs:string"/>
			<xs:element minOccurs="0" name="discountReason" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Change">
		<xs:sequence>
			<xs:element minOccurs="0" name="bSource" type="xs:boolean"/>
			<xs:element minOccurs="0" name="bChannelCode" type="xs:boolean"/>
			<xs:element minOccurs="0" name="bArrivalDate" type="xs:boolean"/>
			<xs:element minOccurs="0" name="bNumNights" type="xs:boolean"/>
			<xs:element minOccurs="0" name="bNumAdults" type="xs:boolean"/>
			<xs:element minOccurs="0" name="bNumChildren" type="xs:boolean"/>
			<xs:element minOccurs="0" name="bNumRooms" type="xs:boolean"/>
			<xs:element minOccurs="0" name="bCribs" type="xs:boolean"/>
			<xs:element minOccurs="0" name="bRollaways" type="xs:boolean"/>
			<xs:element minOccurs="0" name="bRoomCategory" type="xs:boolean"/>
			<xs:element minOccurs="0" name="bRateCode" type="xs:boolean"/>
			<xs:element minOccurs="0" name="bRateAmount" type="xs:boolean"/>
			<xs:element minOccurs="0" name="bCurrencyCode" type="xs:boolean"/>
			<xs:element minOccurs="0" name="bMarketCode" type="xs:boolean"/>
			<xs:element minOccurs="0" name="bPaymentType" type="xs:boolean"/>
			<xs:element minOccurs="0" name="bGuarType" type="xs:boolean"/>
			<xs:element minOccurs="0" name="bDiscountReason" type="xs:boolean"/>
			<xs:element minOccurs="0" name="bMultipleRateYN" type="xs:boolean"/>
			<xs:element minOccurs="0" name="bResvStatus" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Udfs">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="udf:Udf"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RateServices">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="RateService" type="RateService"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RateService">
		<xs:sequence>
			<xs:element name="Service" type="Service"/>
			<xs:element name="quantityExcluded" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
