OriginalBW5Project/SharedResources/Schemas/OXI/results.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "result.fidelio.1.0"
	 targetNamespace = "result.fidelio.1.0"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "RESULT">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "resortId"/>
				<xsd:element ref = "resultMessage"/>
				<xsd:element ref = "ResultIds"/>
			</xsd:sequence>
			<xsd:attribute name = "success" use = "required" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "resortId" type = "xsd:string"/>
	<xsd:element name = "resultMessage" type = "xsd:string"/>
	<xsd:element name = "ResultIds">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ResultId" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ResultId">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "crsId" minOccurs = "0"/>
				<xsd:element ref = "pmsId" minOccurs = "0"/>
				<xsd:element ref = "legNumbers" minOccurs = "0"/>
			</xsd:sequence>
			<xsd:attribute name = "resultMsgType" use = "required" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "crsId" type = "xsd:string"/>
	<xsd:element name = "pmsId" type = "xsd:string"/>
	<xsd:element name = "legNumbers" type = "xsd:string"/>
</xsd:schema>
