OriginalBW5Project/AutomatedProcesses/Services/OpmsPassThroughService-GetQueryParametersInline.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ns="http://www.tibco.com/pe/DeployedVarsType" xmlns:ns1="http://xmlns.tibco.com/encodings/mime" xmlns:ns12="http://www.tibco.com/namespaces/tnt/plugins/jms" xmlns:ns2="http://www.tibco.com/pe/CheckpointSchema" xmlns:ns3="http://www.tibco.com/pe/EngineTypes" xmlns:pd="http://xmlns.tibco.com/bw/process/2003" xmlns:pfx="http://www.tibco.com/pe/GenerateErrorActivity/InputSchema" xmlns:pfx2="http://www.tibco.com/schemas/PMSPASSTHRU/SharedResources/Schemas/Schema.xsd3" xmlns:pfx3="http://schemas.tibco.com/bw/plugins/http/5.0/httpExceptions" xmlns:pfx4="http://schemas.tibco.com/bw/pe/plugin/5.0/exceptions" xmlns:tib="http://www.tibco.com/bw/xslt/custom-functions" xmlns:tns="/AutomatedProcesses/Services/OpmsPassThroughService.process/GetQueryParameters" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="/AutomatedProcesses/Services/OpmsPassThroughService.process/GetQueryParameters">
    <xsd:element name="root">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="propertyName" type="xsd:string"/>
                <xsd:element name="messageType" type="xsd:string"/>
                <xsd:element name="transactionId" type="xsd:string"/>
                <xsd:element name="status" type="xsd:string"/>
                <xsd:element name="label" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
