OriginalBW5Project/SharedResources/Schemas/FrameWorks/ErrorSchema.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1116485807253"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1116485807253"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "SPEExceptionDetails">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "SequenceNo"/>
				<xsd:element ref = "SubjectArea"/>
				<xsd:element ref = "TableName"/>
				<xsd:element ref = "ErrorMsg"/>
				<xsd:element ref = "AdditionalErrorMsg"/>
				<xsd:element ref = "ErrorCode"/>
				<xsd:element ref = "CreateDatetime"/>
				<xsd:element ref = "HotelID"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "SequenceNo" type = "xsd:string"/>
	<xsd:element name = "SubjectArea" type = "xsd:string"/>
	<xsd:element name = "TableName" type = "xsd:string"/>
	<xsd:element name = "ErrorMsg" type = "xsd:string"/>
	<xsd:element name = "AdditionalErrorMsg" type = "xsd:string"/>
	<xsd:element name = "CreateDatetime" type = "xsd:dateTime"/>
	<xsd:element name = "HotelID" type = "xsd:string"/>
	<xsd:element name = "ErrorDetails">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "TypeOfError"/>
				<xsd:element ref = "ErrorLevel"/>
				<xsd:element ref = "ErrorCode" minOccurs = "0"/>
				<xsd:element ref = "ErrorMessage" minOccurs = "0"/>
				<xsd:element ref = "SqlState" minOccurs = "0"/>
				<xsd:element ref = "SqlDetailString" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ErrorCode" type = "xsd:string"/>
	<xsd:element name = "ErrorMessage" type = "xsd:string"/>
	<xsd:element name = "FileName" type = "xsd:string"/>
	<xsd:element name = "Root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ProcessName"/>
				<xsd:element ref = "Timestamp"/>
				<xsd:element ref = "SPEExceptionDetails" minOccurs = "0"/>
				<xsd:element ref = "ErrorDetails"/>
				<xsd:element ref = "ErrorReport" minOccurs = "0"/>
				<xsd:element ref = "FileName" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "TypeOfError" type = "xsd:string"/>
	<xsd:element name = "ProcessName" type = "xsd:string"/>
	<xsd:element name = "ErrorReport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "StackTrace"/>
				<xsd:element ref = "Msg"/>
				<xsd:element ref = "FullClass"/>
				<xsd:element ref = "Class"/>
				<xsd:element ref = "ProcessStack"/>
				<xsd:element ref = "MsgCode" minOccurs = "0"/>
				<xsd:element ref = "Data" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "StackTrace" type = "xsd:string"/>
	<xsd:element name = "Msg" type = "xsd:string"/>
	<xsd:element name = "FullClass" type = "xsd:string"/>
	<xsd:element name = "Class" type = "xsd:string"/>
	<xsd:element name = "ProcessStack" type = "xsd:string"/>
	<xsd:element name = "MsgCode" type = "xsd:string"/>
	<xsd:element name = "Data" type = "xsd:anyType"/>
	<xsd:element name = "ErrorLevel" type = "xsd:string"/>
	<xsd:element name = "SqlState" type = "xsd:string"/>
	<xsd:element name = "SqlDetailString" type = "xsd:string"/>
	<xsd:element name = "Timestamp" type = "xsd:dateTime"/>
</xsd:schema>
